---
title: Hotels
type: page
layout: default.hbs
---

{{> progress }}
<section class="section">
	<div class="container">
		


		<h3 class="h3">All Regular Hotels<small>We have selected <span>24</span> great hotels for you.</small></h3>
		<div>
			<ul class="cat-menu">
				<li>Accomodation type:</li>
				<li class="active"><a href="hotels.html">Regular Hotels</a></li>
				<li><a href="hotels.html">AMF Hotels</a></li>
				<li><a href="hotels.html">Camping</a></li>
			</ul>
		</div>
		<div>
			{{> filter-horz }}
		</div>
		<div class="row">
			<div class="{{!-- col-lg-9 order-1 order-lg-2 --}} col text-center">
				<div class="scroll-container scroll-container--overview">
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
					{{> product-overview }}
				</div>
			</div>
			{{!-- <div class="col-lg-3 order-2 order-lg-1" id="filters">
				{{> filter }}
			</div> --}}
		</div>

		


	</div>
</section>
<section class="section">
	<h3 class="h3 text-center">AMF Camping</h3>
	<p class="subheader text-center">It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
	<div class="container">
		<div class="row no-gutters">
			<div class="col-md-7 wow fadeIn" data-wow-duration=".5s" data-wow-delay=".2s">
				<img src="assets/img/camping1.jpg" alt="" class="img-fluid img-curved">
			</div>
			<div class="col-md-5">
				<div class="curved text-center wow fadeIn" data-wow-duration=".5s" data-wow-delay="0s">
					<img src="assets/img/tent.svg" class="curved-icon">
					<h3>Pre-build tents</h3>
					<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts.</p>
					<a href="#" class="button">Download</a>
				</div>
			</div>
		</div>
		<div class="row no-gutters">
			<div class="col-md-5 order-2 order-md-1 wow fadeInLeft" data-wow-duration=".5s" data-wow-delay="0s">
				<div class="curved curved-left text-center">
					<img src="assets/img/tent.svg" class="curved-icon">
					<h3>Camping Packages</h3>
					<p>A spot on our camping in a pre-set tent. Access to our exclusive pre- and afterparties, on Friday and Saturday evening. Access both festival days on Saturday and Sunday.</p>
					<a href="#" class="button">Download</a>
				</div>
			</div>
			<div class="col-md-7 order-1 order-md-2 wow fadeInRight" data-wow-duration=".5s" data-wow-delay=".2s">
				<img src="assets/img/camping2.jpg" alt="" class="img-fluid img-curved">
			</div>
		</div>
	</div>
</section>
{{> prefooter }}