---
title: Hotel detail pagina
type: page
layout: default.hbs
---



<section class="section section--details details">
	<div class="container">
		<div class="row">
			<div class="order-2 order-sm-1 col-sm-8">
				<h1 class="h1">Volkshotel Amsterdam</h1>
				<p class="intro">"Great hub in the centre of Amsterdam"</p>
				<div class="row">
					<div class="col">
						<div class="product-distance"><img src="assets/img/amf/marker-amf.svg">2.5 km to venue</div>
						<div class="product-showonmap">
							<a href="#">Show on map</a>
						</div>
						<div class="product-rating">
							<img src="assets/img/amf/star-amf-full.svg">
							<img src="assets/img/amf/star-amf-full.svg">
							<img src="assets/img/amf/star-amf.svg">
							<img src="assets/img/amf/star-amf.svg">
						</div>

					</div>
				</div>
				<div class="details-content">
					<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc hendrerit iaculis ante, vitae lacinia risus viverra in. Pellentesque malesuada in elit a hendrerit. Vivamus sit amet urna in nisl pellentesque convallis. Nullam bibendum vestibulum risus quis varius. Curabitur vestibulum porttitor faucibus. Quisque lectus justo, pretium ac malesuada ut, mattis nec tortor. Vivamus pharetra ut quam et bibendum. Nulla efficitur ultrices arcu, ut malesuada justo condimentum mollis.</p>
					<p>Nulla diam nunc, auctor vitae feugiat sit amet, efficitur in nulla. Aliquam lacinia convallis sem ut rutrum. Quisque eleifend ullamcorper orci, at euismod est hendrerit vel. Nullam ut pharetra massa, ac consectetur tellus. Nullam ut velit mi. Vivamus luctus nulla id augue viverra, id lobortis nibh consectetur. In id sodales arcu.</p>
					<ul>
						<li>Listitem</li>
						<li>Listitem</li>
						<li>Listitem</li>
						<li>Listitem</li>
						<li>Listitem</li>
						<li>Listitem</li>
					</ul>
					<h3>Hotel details</h3>
					<p>
						Schipholweg 185 Amsterdam 1171 PK
					</p>
				</div>
			</div>
			<div class="order-1 order-sm-2 col-sm-4">
				<div class="lightbox">
					<div class="product-label">Populair</div>
					<a href="assets/img/1.jpg" data-fancybox="group" data-caption="Caption #1" class="featured">
						<img src="assets/img/hotel-1.jpg" alt="" class="img-fluid" />
					</a>
					<a href="assets/img/1.jpg" data-fancybox="group" data-caption="Caption #2">
						<img src="assets/img/hotel-2.jpg" alt="" class="img-fluid" />
					</a>
					<a href="assets/img/1.jpg" data-fancybox="group" data-caption="Caption #2">
						<img src="assets/img/hotel-3.jpg" alt="" class="img-fluid" />
					</a>
					<a href="assets/img/1.jpg" data-fancybox="group" data-caption="Caption #2">
						<div class="amount"><span>+ 30 photos</span></div>
						<img src="assets/img/hotel-4.jpg" alt="" class="img-fluid" />
					</a>
				</div>
			</div>
		</div>
	</div>
</section>