---
title: Hotels
type: page
layout: default.hbs
---


<section class="section">
	<div class="container">
		<div class="alert alert-warning text-center m-b-30" role="alert">Note! There are no festival tickets included in the Hotel packages! To book a festival ticket, please select it in the personal extras!</div>
		<h3 class="h3">All AMF Hotels<small>We have <span>24</span> great hotels for you too choose out.</small></h3>
		<div class="row">
			<div class="col">

				<form class="sort">		
					<select >
						<option selected="selected">Sort</option>
						<option>Price high-low</option>
						<option>Price low-high</option>
					</select>

				</form>
				<button class="button d-block d-lg-none">Filter hotels</button>
			</div>
		</div>
		<div class="row">
			<div class="col-md-12 col-lg-9 order-1 order-lg-2 text-center">
				<div class="scroll-container">
					{{> product }}
					{{> product }}
					{{> product }}
					{{> product }}
					{{> product }}
					{{> product }}
					{{> product }}
					{{> product }}
					{{> product }}
				</div>
			</div>
			<div class="col-md-3 order-2 order-lg-1 d-none d-lg-block">
				{{> filter }}
			</div>
		</div>
	</div>
</section>
{{> prefooter }}