---
title: Login
type: page
layout: default.hbs
---


<section class="section section--login">
	<div class="container">
		<h1 class="h3 text-center">Login</h1>
		<div class="row">
			<div class="col-md-4 offset-md-1">
				<h3 class="h3 h3-small">Sign in with your EDM Booking account</h3>
				<form class="login">
					<div>
						<input type="text" placeholder="E-mailaddress" class="input">
						<input type="password" placeholder="Bookingscode" class="input password">
					</div>
					{{!-- <a href="#" class="forgotten">I forgot my password</a> --}}
					<button class="button submit" title="Sign in">Sign in</button>

					<p>I lost my bookingcode <a href="#" title="">Click here</a></p>

					{{!-- <a href="#" class="signup-facebook" title="Sign up with Facebook">Sign up with Facebook</a> --}}
				</form>
			</div>
			<div class="col-md-2 d-none d-md-block"><div class="loginline"></div></div>
			<div class="col-md-4">
				<h3 class="h3 h3-small">Or sign in with</h3>
				<div>
					<a href="#" class="login-facebook">Sign in with Facebook</a>
				</div>
				<div>
					<a href="#" class="login-google">Sign in with Google+</a>
				</div>

			</div>
		</div>
	</div>
</section>