---
title: Personal Info
type: page
details: true
layout: default.hbs
---


<div class="checkout">
	<div class="container">
		<ul>
			<li class="checked"><span>1. Stay</span></li>
			<li class="checked"><span>2. Extra's</span></li>
			<li class="active"><span>3. Info</span></li>
			<li><span>4. Pay</span></li>
		</ul>
	</div>
</div>

<section class="section section--cart">
	<div class="container">
		{{!-- <div class="alert alert-warning text-center m-b-30" role="alert">Note! There are no festival tickets included in the Hotel packages! To book a festival ticket, please select it in the personal extras!</div> --}}
		<div class="row">
			<div class="col-lg-8 m-b-30">
				
				<h3 class="h3 h3-cart">Personal info<small>Boeken duurt slechts 2 minuten</small></h3>

				<h5 class="h5 m-t-30">Guest 1 <small>(Main booker)</small> <button class="button-info" data-toggle="tooltip" data-placement="right" title="Some text goes here"></button></h5>
				
				<form class="globalform">
					
					<div class="form-row m-t-20">
						<div class="form-group col-md-2">
							<label for="">Salutation</label>
							<select class="form-control">
								<option selected="">Mr.</option>
								<option>Mrs.</option>
							</select>
						</div>
						<div class="form-group col-md-5">
							<label for="">First name</label>
							<input type="text" class="form-control" id="" placeholder="First name as in passport" required="required">
						</div>
						<div class="form-group col-md-5">
							<label for="">Last name</label>
							<input type="text" class="form-control" id="" placeholder="Last name" required="required">
						</div>
					</div>
					<div class="form-row">
						<div class="form-group col-md-6 valid">
							<label for="">Email</label>
							<input type="email" class="form-control" id="" placeholder="your@email.com" value="mpouwels@gmail.com" required="required" aria-describedby="emailHelp" >
							<small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
						</div>
						<div class="form-group col-md-6">
							<label for="">Phonenumber</label>
							<input type="tel" class="form-control" id="" placeholder="001 0987654321" required="required">
						</div>
					</div>

					<div class="form-row">
						<div class="form-group col-4">
							<label for="">Date of birth</label>
							<select class="form-control" required="required">
								<option>Day</option>
								<option>1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
							</select>
						</div>
						<div class="form-group col-4">
							<label for="">&nbsp;</label>
							<select class="form-control" required="required"> 
								<option>Month</option>
								<option>January</option>
								<option>February</option>
								<option>March</option>
								<option>Arpil</option>
								<option>May</option>
							</select>
						</div>
						<div class="form-group col-4">
							<label for="">&nbsp;</label>
							<select class="form-control" required="required">
								<option>Year</option>
								<option>2000</option>
								<option>1999</option>
								<option>1998</option>
								<option>1997</option>
								<option>1996</option>
							</select>
						</div>
					</div>

					<div class="form-group has-error">
						<label for="inputAddress">Address</label>
						<input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St" value="Somestreet" required="required">
						
					</div>

					<div class="form-row">
						<div class="form-group col-md-6">
							<label for="inputCity">City</label>
							<input type="text" class="form-control" id="inputCity" placeholder="New York" required="required">
						</div>

						<div class="form-group col-md-2">
							<label for="inputZip">Zip code</label>
							<input type="text" class="form-control" id="inputZip" placeholder="e.g. 1234 AB" required="required">
						</div>

						<div class="form-group col-md-4">
							<label for="inputState">Country</label>
							<select id="inputState" class="form-control">
								<option selected>Choose...</option>
								<option>Netherlands</option>
							</select>
						</div>
						
					</div>

					<h5 class="h5 m-t-20">Guest 2 <button class="button-info" data-toggle="modal" data-target="#exampleModal"></button></h5>

					{{!-- <div class="form-check form-check-inline m-t-20">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="man2" value="man">
						<label class="form-check-label" for="man2">Mr.</label>
					</div>
					<div class="form-check form-check-inline">
						<input class="form-check-input" type="radio" name="inlineRadioOptions" id="woman2" value="woman">
						<label class="form-check-label" for="woman2">Mrs.</label>
					</div> --}}
					<div class="form-row m-t-20">
						<div class="form-group col-md-2">
							<label for="">Salutation</label>
							<select class="form-control">
								<option selected="">Mr.</option>
								<option>Mrs.</option>
							</select>
						</div>
						<div class="form-group col-md-5">
							<label for="">First name</label>
							<input type="text" class="form-control" id="" placeholder="First name as in passport" required="required">
						</div>
						<div class="form-group col-md-5">
							<label for="">Last name</label>
							<input type="text" class="form-control" id="" placeholder="" required="required">
						</div>
					</div>

					<div class="alert alert-danger m-t-30" role="alert">
						Not all fields have been filled in correctly.
					</div>
					
					<div class="m-t-30">
						<button type="submit" class="button button--back"><img src="assets/img/back.svg">Back</button>
						<button type="submit" class="button button--confirm button--next float-right"><img src="assets/img/next.svg">Next</button>
					</div>
					
				</form>
				
			</div>
			<div class="col-lg-4 scroller">
				<div data-scroll="true">
					<div class="cart">
						<div class="img-container ratio-16-9"><img src="https://www.volkshotel.nl/media/uploads/2014/11/DSC619014-1-530x348.jpg" alt="" class=""></div>
						<div class="wrapper">
							<div class="total">Your booking <span>€173.60</span></div>
							<table>
								<tbody>
									<tr>
										<td>
											<div class="name">Volkshotel Amsterdam</div>
											<p>Check in: 17-02-2018</p>
											<p>Check out: 18-02-2018</p>
											<p>2 x Comfort Twin Room</p>
										</td>
										<td class="price">€173.60</td>
									</tr>
									<tr>
										<td>
											<div class="name">
												<button class="delete" title="Delete from cart"></button>
												<span class="cart-item-amount">2</span>
												Item goes here
											</div>
										</td>
										<td class="price">€60</td>
									</tr>
									<tr>
										<td>
											<div class="name">
												<button class="delete" title="Delete from cart"></button>
												Item goes here
											</div>
										</td>
										<td class="price">€60</td>
									</tr>
									<tr>
										<td>
											<div class="name">
												<button class="delete" title="Delete from cart"></button>
												Item goes here
											</div>
										</td>
										<td class="price">€60</td>
									</tr>
								{{!-- <tr>
									<td>
										<div class="name vat">
											Including 7% V.A.T.
										</div>
									</td>
									<td class="price vat">€128</td>
								</tr> --}}
							</tbody>
						</table>
					</div>
						{{!-- <form>
							<div class="mycheck">
								<label class="mycheck-label">
									<input type="checkbox">
									<span class="checkmark"></span>
									I agree to the <a href="#">Terms and Conditions</a>
								</label>
							</div>
						</form>
						<button class="button button--confirm button--block" disabled>Confirm order</button>
						<div class="cart-p">Payment details on the next page</div> --}}
					</div>
				</div>
			</div>
		</div>
	</div>
</section>


<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
	<div class="modal-dialog" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title" id="exampleModalLabel">Main booker</h5>
				<button type="button" class="close" data-dismiss="modal" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				</button>
			</div>
			<div class="modal-body">
				Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec qu
			</div>
		</div>
	</div>
</div>


