---
title: Preloader
type: page
details: true
layout: default.hbs
---

<section class="section">
	<div class="col-6">
		<div class="preloader">
			<div class="bar"></div>
		</div>
	</div>
	
</section>