---
title: Venue
type: page
layout: default.hbs
---

<section>
	<div class="container">
		<div class="row">
			<div class="col"></div>
		</div>
	</div>
</section>


<section class="section venue-hero text-center">
	<div class="container valign-center">
		<div class="row">
			<div class="col">
				<h2 class="h2">Welcome at AMF travel, not only you'll book here official tickets, also we have selected the best hotels to stay in.</h2>
			</div>
		</div>
	</div>
</section>

<section class="section">
	<div class="container">
		{{!-- <h3 class="h3 text-center">Select your venue</h3> --}}
		<div class="row">
			{{> venue }}
			{{> venue }}
			{{> venue }}
			{{> venue }}
			{{> venue }}
			{{> venue }}
		</div>
	</div>
</section>