
<section class="section wow fadeIn text-center" data-wow-duration="1s" data-wow-delay="0s">
	<div class="container">
		<h3 class="h3">AMF Extras</h3>
		<p class="subheader">Add some cool extra's to make your experience even better!</p>
		
		<div class="row">
			<div class="col">
				<div class="scroll-container scroll-container--nowrap">
					<div class="product">
						<div class="product-thumb">
							<img src="assets/img/limousine.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content">
							<div class="product-info"></div>
							<h4 class="product-title">Private transfer</h4>
							<div class="extra-price">
								<strong>€269</strong>
							</div>
							<p class="product-description">Private transfer between your hotel and the Amsterdam Arena and back. The driver will pick you up at any time.</p>
						</div>
					</div>
					<div class="product">
						<div class="product-thumb">
							<img src="assets/img/cap.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content">
							<div class="product-info"></div>
							<h4 class="product-title">AMF Cap</h4>
							<div class="extra-price">
								<strong>€25</strong>
							</div>
							<p class="product-description">The night is what you live for. This cap is what you need! Together we own the night.</p>
						</div>
					</div>
					<div class="product">
						<div class="product-thumb">
							<img src="assets/img/hands.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content">
							<div class="product-info"></div>
							<h4 class="product-title">Tickets</h4>
							<div class="extra-price">
								<strong>€80</strong>
							</div>
							<p class="product-description">Select official AMF Regular or AMF VIP Tickets. VIP ticket includes separate VIP entrance, VIP deck at the Mainstage and a free locker.</p>
						</div>
					</div>
					<div class="product">
						<div class="product-thumb">
							<img src="assets/img/breakfast.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content">
							<div class="product-info"></div>
							<h4 class="product-title">Breakfast</h4>
							<div class="extra-price">
								<strong>€15</strong>
							</div>
							<p class="product-description">Wake up to a wonderful breakfast with fresh rolls, croissants, various spreads, fruit, coffee, tea and juices.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	
	</div>
</section>