
<section class="section text-center">
	<div class="container">
		<h3 class="h3">AMF Extras</h3>
		<p class="subheader">Add some cool extra's to make your experience even better!</p>
		<div class="owl-carousel owl-theme">
				<div class="item">
					<div class="product">
						<div class="product-thumb">
							<img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/5a01a7e7ba37980001777ec5_transfer.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content">
							<div class="product-info"></div>
							<h4 class="h4">Limousine transfer</h4>
							<div class="extra-price">
								Starting from <strong>€30</strong>
							</div>
							<p class="product-description">The best hotels, transfer and extra's selected by the people of Extacy.</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="product">
						<div class="product-thumb">
							<img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/5a01bd87ba37980001779b63_hands.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content">
							<div class="product-info"></div>
							<h4 class="h4">Merchandise</h4>
							<div class="extra-price">
								Starting from <strong>€30</strong>
							</div>
							<p class="product-description">The best hotels, transfer and extra's selected by the people of Extacy.</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="product">
						<div class="product-thumb">
							<img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/5a01ae4c5e0eae00012819d3_breakfast.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content">
							<div class="product-info"></div>
							<h4 class="h4">Tickets</h4>
							<div class="extra-price">
								Starting from <strong>€30</strong>
							</div>
							<p class="product-description">Donec pede justo, fringilla vel, aliquet nec, vulputate eget, arcu. In enim justo, rhoncus ut, imperdiet a, venenatis vitae, justo</p>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="product">
						<div class="product-thumb">
							<img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/5a01a7e7ba37980001777ec5_transfer.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content">
							<div class="product-info"></div>
							<h4 class="h4">Breakfast</h4>
							<div class="extra-price">
								Starting from <strong>€30</strong>
							</div>
							<p class="product-description">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>