<form class="filter">
	{{!-- <label for="" class="filter-label">Type</label>
	<div class="filter-group">
		<div class="form-group">
			
			<select>
				<option selected="selected">Regular hotels</option>
				<option>AMF Hotels</option>
				<option>Camping</option>
			</select>
			
		</div>
	</div> --}}

	<label for="" class="filter-label">Arrival date</label>
	<div class="filter-group">
		<div class="form-group">
			<div class="input-group date" data-provide="datepicker">
				<input type="text" class="form-control" placeholder="Arrival date">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-th"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>
			</div>
		</div>
	</div>

	<label for="" class="filter-label">Departure date</label>
	<div class="filter-group">
		<div class="form-group">
			<div class="input-group date" data-provide="datepicker">
				<input type="text" class="form-control" placeholder="Departure date">
				<div class="input-group-addon">
					<span class="glyphicon glyphicon-th"><i class="fa fa-calendar" aria-hidden="true"></i></span>
				</div>
			</div>
		</div>
	</div>

	<label for="" class="filter-label">Guests</label>
	<div class="filter-group">		
		<div class="form-group">
			<input type="number" class="form-control" value="1" step="1" min="1" max="12">
		</div>
	</div>

	{{!-- <label for="" class="filter-label">Room type</label>
	<div class="filter-group">		
		<div class="form-group">			
			<select class="form-control" id="exampleFormControlSelect1">
				<option>Twin Double</option>
				<option>Single</option>
			</select>
		</div>
	</div> --}}

	{{!-- <label for="" class="filter-label">Price</label>
	<div class="filter-group">		
		<div class="form-group">
			<div class="form-check">
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					Double Room
				</label>
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					Twin Room
				</label>
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					Single Room
				</label>
			</div>
		</div>
	</div> --}}

	<label for="" class="filter-label">Price</label>
	<div class="filter-group">		
		<div class="form-group">
			<div class="form-check">
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					&euro;0 - &euro;300
				</label>
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					&euro;301 - &euro;600
				</label>
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					&euro;601 - &euro;900
				</label>
			</div>
		</div>
	</div>

	<label for="" class="filter-label">Distance to venue</label>
	<div class="filter-group">		
		<div class="form-group">
			<div class="form-check">
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					0 km - 5 km
				</label>
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					5 km - 10 km
				</label>
				<label class="form-check-label filter-label-big">
					<input type="checkbox" class="form-check-input">
					10 km +
				</label>
			</div>
		</div>
	</div>

	<label for="" class="filter-label">Stars</label>
	<div class="filter-group">
		<div class="form-group">
			<label class="form-check-label">
				<input type="checkbox" class="form-check-input">
				<i class="fa fa-star" aria-hidden="true"></i>
			</label>

			<label class="form-check-label">
				<input type="checkbox" class="form-check-input">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</label>

			<label class="form-check-label">
				<input type="checkbox" class="form-check-input">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</label>

			<label class="form-check-label">
				<input type="checkbox" class="form-check-input">
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
				<i class="fa fa-star" aria-hidden="true"></i>
			</label>
		</div>
	</div>
</form>