<form class="m-b-30 d-none d-md-block">
	<div class="row">
		<div class="col-md-3 col-lg-2">
			<div class="">
				<div class="form-group">
					<div class="input-group date" data-provide="datepicker">
						<input type="text" class="form-control" placeholder="Arrival date">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"><i class="fa fa-calendar" aria-hidden="true"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-2">
			<div class="">
				<div class="form-group">
					<div class="input-group date" data-provide="datepicker">
						<input type="text" class="form-control" placeholder="Departure date">
						<div class="input-group-addon">
							<span class="glyphicon glyphicon-th"><i class="fa fa-calendar" aria-hidden="true"></i></span>
						</div>
					</div>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-2">
			<div class="">		
				<div class="form-group">
					<select>
						<option>Guests</option>
						<option value="">1</option>
						<option value="">2</option>
						<option value="">3</option>
						<option value="">4</option>
						<option value="">5</option>
					</select>
				</div>
			</div>
		</div>
		<div class="col-md-3 col-lg-2">
			<div class="">		
				<div class="form-group">
					<select>
						<option value="price_l2h">Sort by</option>
						<option value="price_l2h">Price (low to high)</option>
						<option value="price_h2l">Price (high to low)</option>
						<option value="distance_l2h">Distance to event (low to high)</option>
						<option value="distance_h2l">Distance to event (high to low)</option>
						<option value="rating_l2h">Rating (low to high)</option>
						<option value="rating_h2l">Rating (high to low)</option>
					</select>
				</div>
			</div>
		</div>
	</div>
</form>