
<section class="pre-footer">
	{{!-- <div class="content">
		<div class="container">
			<div class="row">
				<div class="col text-center">
					<h2>ASOT TV</h2>
					<p>Watch events live, interact with DJs, chat with ASOT fans, watch exclusive content form past editions</p>
					<a href="" title="" class="">CTA goes here</a>
				</div>
			</div>
		</div>
	</div> --}}
	<div class="videowrapper">
		 <div id="videoplayer" class="videoplayer"></div>
	</div>
</section>
<footer class="footer">
	<div class="container">
		<div class="row">
			<div class="col">
				<a href="" title="" class="footer-btn">hello@edm-booking.com</a><button class="footer-btn">+31 61245678</button>

				<ul class="footer-socialmedia">
					<li><a href="#" title="Facebook"><img src="/assets/img/icon-facebook.svg" alt=""></a></li>
					<li><a href="#" title="Twitter"><img src="/assets/img/icon-twitter.svg" alt=""></a></li>
					<li><a href="#" title="Instagram"><img src="/assets/img/icon-instagram.svg" alt=""></a></li>
				</ul>

				<ul class="footer-logos">
					<li><img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/59ea0f76c3e5160001edc727_logo-ams.png" alt="AMF Festival"></li>
					{{!-- <li><a href="#" title=""><img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/59ea0f76c3e5160001edc727_logo-ams.png" alt="EDM Booking"></a></li> --}}
				</ul>
				<p class="copyright">
					© 2017 AMF Festival - <a href="" title="EDM Booking">powered by EDM Booking</a>
				</p>
				<div class="footer-links">
					<ul>
						<li><a href="#" title="Terms and conditions">Terms and conditions</a> </li>
						<li><a href="#" title="Privacy statement">Privacy statement</a></li>
					</ul>
				</div>

			</div>
		</div>
	</div>
</footer>
<div class="cookies">
	<button class="hide-cookies"><img src="/assets/img/close-white.svg"></button>
	<p>Cookies are used to provide you with the best experience and service. By visiting our website, you consent to the use of <a href="#" title="">cookies</a></p>
</div>
