<header class="header">
	<div class="container-fluid">
		<div class="header-logo">
			<a href="index.html" title="Title goes here">
				<img src="assets/img/amf/logo.png" alt="AMF Festival Travelsite">
			</a>
			<span>Official Travelpackages</span>
		</div>
		<nav class="header-nav">
			<ul class="header-nav-list">
				<li class="header-nav-listitem"><a href="hotels.html" title="">Packages</a></li>
				<li class="header-nav-listitem"><a href="#" title="" class="scroll" data-scroll="whybook">Why book</a></li>
				<li class="header-nav-listitem"><a href="info.html" title="">More info</a></li>
				<li class="header-nav-listitem mobile-menu-no">
					<a href="#" title="" class="nav-btn"><img src="assets/img/avatar.svg">&euro;329,-  <!--My booking--></a>
				</li>
			</ul>
		</nav>
		<button class="nav-mobile-btn"></button>
		<div class="header-booking-mob">
			My booking
		</div>
	</div>
</header>