<header class="header {{#if type}}header--page{{/if}}">
	<div class="container-fluid">
		<div class="header-logo">
			<a href="homepage.html" title="Title goes here">
				<img src="assets/img/amf/logo.png" alt="AMF Festival Travelsite">
				<span class="d-none d-sm-inline-block">Official Travel Packages</span>
			</a>
		</div>
		<nav class="header-nav">
			<ul class="header-nav-list">
				<li class="header-nav-listitem header-nav-dropdown" data-type="dropdown" data-target="#packages">
					<a href="#" title="">
						<span>Packages</span>
					</a>
					<div class="dropdown" id="packages">
						<div class="container">
							<div class="row">
								<div class="col-lg-4"><a href="hotels.html">Regular Hotels Packages</a></div>
								<div class="col-lg-4"><a href="hotels.html">AMF Hotels Packages</a></div>
								<div class="col-lg-4"><a href="hotels.html">Camping Packages</a></div>
							</div>
						</div>
					</div>
				</li>
				{{!-- <li class="header-nav-listitem"><a href="#" title="" class="scroll" data-scroll="whybook">Why book</a></li> --}}
				<li class="header-nav-listitem"><a href="info.html" title="" class="">More info</a></li>

				<li class="header-nav-listitem mobile-menu-no">
					{{#if type}}
					<a href="cart-extras.html" title="My Booking" class="nav-btn"><img src="assets/img/avatar.svg"><span class="euro">&euro;</span> 469</a>
					{{else}}
					<a href="login.html" title="My Booking" class="nav-btn"><img src="assets/img/avatar.svg">My Booking</a>{{/if}}
				</li>

				<li class="header-nav-listitem header-nav-listitem--language" data-type="dropdown" data-target="#languages">
					<a href="#" ><span>English</span></a>
					<div class="languages" id="languages">
						<ul class="languages-list">
							<li><a href="#">Spanish</a></li>
							<li><a href="#">Dutch</a></li>
							<li><a href="#">Deutsch</a></li>
						</ul>
					</div>
				</li>
			</ul>
		</nav>

		<button class="nav-mobile-btn d-lg-none"></button>
		<div class="header-booking-mob">
			{{#if type}}
			<a href="cart-extras.html" title="My Booking" class="nav-btn"><img src="assets/img/avatar.svg"><span class="euro">&euro;</span> 469</a>
			{{else}}
			<a href="login.html" title="My Booking" class="nav-btn"><img src="assets/img/avatar.svg">My Booking</a>{{/if}}
		</div>
	</div>

	
</header>