<div class="hero">
    <div class="hero-content">
        <div class="vertical-align">
            <div class="container text-center">
                {{!-- <div class="hero-preheader">- AMF FESTIVAL 2017 -</div> --}}
                <h1 class="hero-header">Book the best AMF hotel packages and extra's</h1>
                {{!-- <p  class="hero-subheader">Book the best AMF hotel packages and extra's</p> --}}
                <div class="scroll-down scroll" data-scroll="offers"></div>
            </div>
        </div>
    </div>
    <div class="videowrapper">
        <div id="hero-video" class="videoplayer"></div>
    </div>
</div>