<div class="">
	<div class=""></div>
	<div class="visual">
		<div>Populair</div>
		<img src="http://via.placeholder.com/400x400" alt="" title="" class="img-fluid">
	</div>
	<div>
		Hotelnaam

		Description

		Distance to venue

		rating


	</div>
</div>