
<section class="section text-center">
    <div class="container">
        <h3 class="h3">AMF Festival Hotels</h3>
        <p class="subheader">Stay in the special selected AMF hotels</p>
        <div class="owl-carousel owl-theme">
                <div class="item">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/5a01a0b2158a1d0001101cd4_hotel3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-content product-content--margin">
                            <div class="product-info"></div>
                            <h4 class="h4">Volkshotel Amsterdam</h4>
                            <div class="extra-price">
                                <strong>€245</strong>
                            </div>
                            <p class="product-description">"Great hub in the centre of Amsterdam"</p>
                        </div>
                        <div class="product-details">
                            <div class="product-distance"><img src="assets/img/amf/marker-amf.svg"> 2.5 km to venue</div>
                            <div class="product-rating">
                                <img src="assets/img/amf/star-amf-full.svg">
                                <img src="assets/img/amf/star-amf-full.svg">
                                <img src="assets/img/amf/star-amf.svg">
                                <img src="assets/img/amf/star-amf.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/5a01a1aa079aa40001b45741_hotel.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-content product-content--margin">
                            <div class="product-info"></div>
                            <h4 class="h4">Volkshotel Amsterdam</h4>
                            <div class="extra-price">
                                <strong>€237</strong>
                            </div>
                            <p class="product-description">"New hotel in the city centre"</p>
                        </div>
                        <div class="product-details">
                            <div class="product-distance"><img src="assets/img/amf/marker-amf.svg"> 2.5 km to venue</div>
                            <div class="product-rating">
                                <img src="assets/img/amf/star-amf-full.svg">
                                <img src="assets/img/amf/star-amf-full.svg">
                                <img src="assets/img/amf/star-amf.svg">
                                <img src="assets/img/amf/star-amf.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/5a01a0b2158a1d0001101cd4_hotel3.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-content product-content--margin">
                            <div class="product-info"></div>
                            <h4 class="h4">HolidayInn</h4>
                            <div class="extra-price">
                                <strong>€145</strong> / p.p.
                            </div>
                            <p class="product-description">"Great hub in the centre of Amsterdam"</p>
                        </div>
                        <div class="product-details">
                            <div class="product-distance"><img src="assets/img/amf/marker-amf.svg"> 2.5 km to venue</div>
                            <div class="product-rating">
                                <img src="assets/img/amf/star-amf-full.svg">
                                <img src="assets/img/amf/star-amf-full.svg">
                                <img src="assets/img/amf/star-amf.svg">
                                <img src="assets/img/amf/star-amf.svg">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="item">
                    <div class="product">
                        <div class="product-thumb">
                            <img src="https://daks2k3a4ib2z.cloudfront.net/59ea0080c3e5160001edb56a/5a01a169158a1d0001101d51_hotel4.jpg" alt="" class="img-fluid">
                        </div>
                        <div class="product-content product-content--margin">
                            <div class="product-info"></div>
                            <h4 class="h4">Dutch Design Artemis Hotel</h4>
                            <div class="extra-price">
                                <strong>€245</strong> / p.p.
                            </div>
                            <p class="product-description">"Great hub in the centre of Amsterdam"</p>
                        </div>
                        <div class="product-details">
                            <div class="product-distance"><img src="assets/img/amf/marker-amf.svg"> 2.5 km to venue</div>
                            <div class="product-rating">
                                <img src="assets/img/amf/star-amf-full.svg">
                                <img src="assets/img/amf/star-amf-full.svg">
                                <img src="assets/img/amf/star-amf.svg">
                                <img src="assets/img/amf/star-amf.svg">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <a href="#" title="" class="button m-t-30">View all hotels</a>
    </div>
</section>