<section class="section section--offers text-center" id="offers">
	
	{{!-- <h3 class="h3">Choose your stay</h3>  --}}

	<div class="container">
		<ul class="category-menu">
			<li class="active toggle-category" data-toggle="hotels">Hotels</li>
			<li class="toggle-category" data-toggle="hotels-special">AMF Hotels</li>
			<li class="toggle-category" data-toggle="camping">Camping</li>
		</ul>
	</div>

	<div class="homepage-offer-wrapper">
		<div id="hotels" class="homepage-category homepage-category--active">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="subheader m-b-50">We selected the best hotels for you</p>
						<div class="scroll-container scroll-container--nowrap">
							{{> product }}
							{{> product }}
							{{> product }}
							{{> product }}
						</div>
					</div>
				</div>
				<a href="hotels.html" title="" class="button m-t-30">View all AMF hotels</a>
			</div>
		</div>

		<div id="hotels-special" class="homepage-category">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="subheader">Special AMF Festival Hotels</p>
						<div class="scroll-container scroll-container--nowrap">
							{{> product }}
							{{> product }}
							{{> product }}
							{{> product }}
						</div>
					</div>
				</div>
				<a href="#" title="" class="button m-t-30">View all Special hotels</a>
			</div>
		</div>

		<div id="camping" class="homepage-category">
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="subheader m-b-30">Stay in a VIP tent only 300m away from the festival</p>
						<div class="scroll-container scroll-container--nowrap">
							{{> product }}
							{{> product }}
							{{> product }}
							{{> product }}
						</div>
					</div>
				</div>
				<a href="#" title="" class="button m-t-30">View all Camping</a>
			</div>
		</div>
	</div>
</section>



{{!-- <h3 class="h3">AMF Hotels</h3> 
			<p class="subheader">Stay in the special selected AMF hotels</p>
			<div class="owl-carousel owl-theme owl-offers">
				<div class="item">
					<div class="product">
						<div class="product-thumb">
							<div class="product-label">Populair</div>
							<img src="assets/img/hotel-1.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content product-content--margin">
							<div class="product-info"></div>
							<h4 class="product-title">Volkshotel Amsterdam</h4>
							<div class="extra-price">
								<strong>€245</strong>
							</div>
							<p class="product-description">"Great hub in the centre of Amsterdam"</p>
						</div>
						<div class="product-details">
							<div class="product-distance"><img src="assets/img/amf/marker-amf.svg">2.5 km to venue</div>
							<div class="product-rating">
								<img src="assets/img/amf/star-amf-full.svg">
								<img src="assets/img/amf/star-amf-full.svg">
								<img src="assets/img/amf/star-amf.svg">
								<img src="assets/img/amf/star-amf.svg">
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="product">
						<div class="product-thumb">
							<div class="product-label">Sold out</div>
							<img src="assets/img/hotel-2.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content product-content--margin">
							<div class="product-info"></div>
							<h4 class="product-title">Amsterdam Grand Hotel Krasnapolsky</h4>
							<div class="extra-price">
								<strong>€237</strong>
							</div>
							<p class="product-description">"New hotel in the city centre"</p>
						</div>
						<div class="product-details">
							<div class="product-distance"><img src="assets/img/amf/marker-amf.svg">2.5 km to venue</div>
							<div class="product-rating">
								<img src="assets/img/amf/star-amf-full.svg">
								<img src="assets/img/amf/star-amf-full.svg">
								<img src="assets/img/amf/star-amf.svg">
								<img src="assets/img/amf/star-amf.svg">
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="product">
						<div class="product-thumb">
							<img src="assets/img/hotel-3.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content product-content--margin">
							<div class="product-info"></div>
							<h4 class="product-title">Fletcher Hotel Amsterdam</h4>
							<div class="extra-price">
								<strong>€145</strong>
							</div>
							<p class="product-description">"Great hub in the centre of Amsterdam"</p>
						</div>
						<div class="product-details">
							<div class="product-distance"><img src="assets/img/amf/marker-amf.svg">10.5 km to venue</div>
							<div class="product-rating">
								<img src="assets/img/amf/star-amf-full.svg">
								<img src="assets/img/amf/star-amf-full.svg">
								<img src="assets/img/amf/star-amf.svg">
								<img src="assets/img/amf/star-amf.svg">
							</div>
						</div>
					</div>
				</div>
				<div class="item">
					<div class="product">
						<div class="product-thumb">
							<img src="assets/img/hotel-4.jpg" alt="" class="img-fluid">
						</div>
						<div class="product-content product-content--margin">
							<div class="product-info"></div>
							<h4 class="product-title">Jazz Amsterdam</h4>
							<div class="extra-price">
								<strong>€245</strong>
							</div>
							<p class="product-description">"Great hub in the centre of Amsterdam"</p>
						</div>
						<div class="product-details">
							<div class="product-distance"><img src="assets/img/amf/marker-amf.svg">4 km to venue</div>
							<div class="product-rating">
								<img src="assets/img/amf/star-amf-full.svg">
								<img src="assets/img/amf/star-amf-full.svg">
								<img src="assets/img/amf/star-amf.svg">
								<img src="assets/img/amf/star-amf.svg">
							</div>
						</div>
					</div>
				</div>
			</div> --}}