<section class="pre-footer">
	<div class="content">
		<div class="container reveal">
			<div class="row">
				<div class="col text-center">
					<h3 class="h3">NEED HELP?</h3>
					<p class="subheader">Contact us 24/7 via whatsApp or email for special wishes or questions</p>
					{{!-- <a href="#" title="whatsApp" class="button button--secondary">Send a email</a> --}}
				</div>
			</div>
		</div>
	</div>
	<div class="videowrapper">
		<div id="videoplayer" class="videoplayer"></div>
	</div>
</section>