<a href="hotel-detail.html" class="product product--overview">
    <div class="product-thumb">
        <div class="product-label">
            <span class="populair">Populair</span>
            <span class="bestprice">Best Price</span>
        </div>
        <img src="https://pbs.twimg.com/profile_images/892071041257713664/OnxKmm0Z_400x400.jpg" alt="" class="img-fluid">
    </div>
    <div class="product-content product-content--margin">
        <div class="product-info"></div>
        <h4 class="product-title">Volkshotel Amsterdam</h4>
        <div class="extra-price">
            <strong>€245</strong>
        </div>
        <ul class="product-bulletlist">
            <li>Friendly hotel in Hoofddorp, near Schiphol Airport</li>
            <li>Fitness centre, billiards, terrace, restaurant, bar/lounge</li>
            <li>Comfortable rooms with a bathroom, free bottled water</li>
        </ul>
        {{!-- <p class="product-description">"Great hub in the centre of Amsterdam"</p> --}}
    </div>
    <div class="product-details">
        <div class="product-distance"><img src="assets/img/amf/marker-amf.svg">2.5 km to venue</div>
        <div class="product-rating">
            <img src="assets/img/amf/star-amf-full.svg">
            <img src="assets/img/amf/star-amf-full.svg">
            <img src="assets/img/amf/star-amf.svg">
            <img src="assets/img/amf/star-amf.svg">
        </div>
    </div>
</a>