<div class="checkout d-none d-lg-block">
    <div class="container">
        <ul>
            <li class="active"><span>1. Stay</span></li>
            <li><span>2. Extra's</span></li>
            <li><span>3. Info</span></li>
            <li><span>4. Pay</span></li>
        </ul>
    </div>
</div>