<div class="checkout d-none d-lg-block">
    <div class="container">
        <ul>
            <li class="active"><span>Accomodation</span></li>
            <li><span>Extra's</span></li>
            <li><span>Details</span></li>
            <li><span>Pay</span></li>
        </ul>
    </div>
</div>