<section id="reviews" class="section text-center">
	<div class="container">
		<div class="row">
			<div class="col">
				<h3 class="h3">What people say</h3>
				<div class="owl-carousel owl-theme owl-reviews">
					<div class="item">
						<div class="review">
							<img src="assets/img/amf/quote.svg">
							<p class="review-title">Our stay in Amsterdam was amazing!!</p>
							<div class="review-author">Michel de Winter</div>
							<div class="review-origin">The Netherlands</div>
						</div>
					</div>
					<div class="item">
						<div class="review">
							<img src="assets/img/amf/quote.svg">
							<p class="review-title">The greatest party on earth! We will be back next year for sure!</p>
							<div class="review-author">Rishi Bhugwansing</div>
							<div class="review-origin">The Netherlands</div>
						</div>
					</div>
					<div class="item">
						<div class="review">
							<img src="assets/img/amf/quote.svg">
							<p class="review-title">See you next year!</p>
							<div class="review-author">Roan Hahn</div>
							<div class="review-origin">The Netherlands</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</section>