<div class="room">
	<div class="row no-gutters">
		{{!-- <div class="col-2 d-none d-md-block">
			<img src="assets/img/roomitem.jpg" alt="" class="img-fluid">
		</div> --}}
		<div class="col">
			<div class="row no-gutters">
				<div class="col-sm-8">
					<div class="room-content">
						<div class="room-title">Standard Double Room</div>
						<div class="room-max">Max:<img src="assets/img/person.svg">x 2</div>
						<p class="room-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
					</div>
				</div>
				<div class="col-sm-4 text-right">
					<div class="room-price clearfix">
						<div class="room-price-amount">
							€ 104 <span>total price per person</span>
						</div>
						<a href="#" class="button button--small">Book this room</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>