<div class="room">
	<div class="row">
		<div class="col-4 col-md-3">
			<img src="assets/img/roomitem.jpg" alt="" class="img-fluid">
		</div>
		<div class="col room-content">
			<div class="room-title">Double standard - bed and breakfast: sleeps 2, 1 bed</div>
			<div class="row">
				<div class="col room-max">Max:<img src="assets/img/person.svg">x 2</div>
			</div>
			<p class="room-intro">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce tincidunt luctus tortor, non venenatis libero pulvinar fermentum. Phasellus augue metus, aliquam ut nisi non, mattis bibendum erat. Aliquam volutpat lacus odio, ut ornare ex porta ut.</p>
		</div>
	</div>
	<div class="room-price clearfix">
		{{!-- <div class="room-arrow"></div> --}}
		€ 104 <span>/ total price</span>
		<a href="#" class="button">Book room</a>
	</div>
</div>