<a href="hotel-detail.html" class="product product--overview">
    <div class="product-thumb">
        {{!-- <div class="product-label">Populair</div> --}}
        <img src="https://www.campingketjil.nl/images/safaritent-1-l.jpg" alt="" class="img-fluid">
    </div>
    <div class="product-content product-tent">
        <div class="product-info"></div>
        <h4 class="product-title">Safari tent</h4>
        <div class="extra-price">
            <strong>€449</strong>
        </div>
        

        <ul class="product-list">
            <li>1 pre-built 2 person tent in exclusive festival design (size: 2.8m x 2.8m x 1.7m)</li>
            <li>2 festival sleeping bags</li>
            <li>WIFI access</li>
            <li>1 locker</li>
            <li>Access to the first or second wave-breaker of the main stages</li>
            <li>Exclusive Experience Entrance to the festival area</li>
        </ul>

    </div>
    
        
   
</a>