<div class="col-md-4">
	<a href="#" class="venue">
		<div class="venue-img"><img src="assets/img/venue.jpg" class="img-fluid"></div>
		<div class="venue-content">
			<div class="venue-title">Rotterdam</div>
			<div class="venue-date">12 October, Amsterdam Arena</div>
		</div>
	</a>
</div>