
<section class="section section-line reveal text-center" id="whybook">
	<div class="container">
		<h3 class="h3 m-b-50">Why book with us</h3>
		{{!-- <p class="subheader">Be part of the movement</p> --}}
		<div class="row">
			<div class="col-md-3 whybook-item">
				<img src="assets/img/amf/usp-heart-amf.svg" alt="" class="whybook-icon">
				<h4 class="whybook-heading">Official AMF Packages</h4>
				<p class="whybook-p">On Saturday October 21, AMF will return to the Amsterdam ArenA with thousands of worldwide EDM fans to take on the night with some of the best DJs in the world. Join us and book your official AMF package with AMF Travel.</p>
			</div>
			<div class="col-md-3 whybook-item">
				<img src="assets/img/amf/like-amf.svg" alt="" class="whybook-icon">
				<h4 class="whybook-heading">Select Your Experience</h4>
				<p class="whybook-p">AMF Travel offers fans a personalised travel experience. You can create your AMF package with entrance tickets, hotel of your choice and camping, transfer to/from the venue and other convenient extra's.</p>
			</div>
			
			<div class="col-md-3 whybook-item">
				<img src="assets/img/amf/rates-amf.svg" alt="" class="whybook-icon">
				<h4 class="whybook-heading">Best value</h4>
				<p class="whybook-p">The AMF travel team has selected the best places to stay for the best rates. We offer you safe and convenient transfer to/from the venue and a 24/7 service number during your stay for a relaxed and carefree stay in Amsterdam</p>
			</div>
			<div class="col-md-3 whybook-item">
				<img src="assets/img/amf/fast-amf.svg" alt="" class="whybook-icon">
				<h4 class="whybook-heading">Fast service</h4>
				<p class="whybook-p">Your official E-tickets and reservation will be send to you straight away, after you have completed your booking. Contact us for large groups and special wishes via info@eventagent.nl or WhatsApp on +31(0)6 52 382 382</p>
			</div>
		</div>
	</div>
</section>