
<section class="section text-center">
    <div class="container">
        <h3 class="h3">Why book with us</h3>
        <p class="subheader">Be part of the movement</p>
        <div class="row">
            <div class="col-md-3">
                <img src="assets/img/amf/like-amf.svg" alt="" class="why-book-icon">
                <h4 class="why-book-heading">All-in experience</h4>
                <p class="why-book-p">Select official tickets, hotel, transfer to the venue and other extra's.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/img/amf/usp-heart-amf.svg" alt="" class="why-book-icon">
                <h4 class="why-book-heading">Fans of AMF Festival</h4>
                <p class="why-book-p">From every corner of the world fans are staying with us. Will you unite with us?</p>
            </div>
            <div class="col-md-3">
                <img src="assets/img/amf/rates-amf.svg" alt="" class="why-book-icon">
                <h4 class="why-book-heading">The best hotels</h4>
                <p class="why-book-p">The best hotels, transfer and extra's selected by the people of Extacy.</p>
            </div>
            <div class="col-md-3">
                <img src="assets/img/amf/fast-amf.svg" alt="" class="why-book-icon">
                <h4 class="why-book-heading">Fast service</h4>
                <p class="why-book-p">Your official tickets and reservation will be send to you straight away.</p>
            </div>
        </div>
    </div>
</section>