.button{
	padding: 15px 40px;
	border: 2px solid $button-border-color;
	-webkit-border-radius: $button-radius;
	-moz-border-radius: $button-radius;
	border-radius: $button-radius;
	background-color: $button-bg;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;
	font-family: $secondary-font;
	color: #fff;
	font-size: 15px;
	text-align: center;
	text-decoration: none;
	text-transform: uppercase;
	cursor: pointer;
	display: inline-block;
	white-space: nowrap;



	&:hover{
		background-color: $button-bg-hover;
		color: $button-hover-color;
		padding: 15px 50px;
	}

	@media (max-width: $breakpoint-mobile){
		padding: 10px 20px;
		font-size: 12px;

		&:hover{
			padding: 10px 20px;
		}
	}

	&--secondary{
		background-color: $color-2;
		border-color: $color-2;
	}

	&--small{
		font-size: 13px;
		padding: 10px 20px;
		&:hover{
			padding: 10px 20px;
		}
	}

	&--block{
		width: 100%;
		display: block;
	}

	&--label{
		padding: 15px 40px;
		border: 2px solid $button-border-color;
		-webkit-border-radius: $button-radius;
		-moz-border-radius: $button-radius;
		border-radius: $button-radius;
		text-align: center;
		text-transform: uppercase;
		font-family: $secondary-font;
		-webkit-transition: all .3s ease 0s;
		transition: all .3s ease 0s;
		cursor: pointer;

		&:hover{
			background: $color-1;
		}
	}
}

.button-info{
	cursor: pointer;
	border: none;
	display: inline-block;
	width: 22px;
	height: 22px;
	margin: 0 10px 0 0;
	position: relative;
	top: 3px;
	line-height: 0;
	background: url(../img/info.svg) no-repeat center center scroll;
	background-size: 22px auto;
}