@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700');

@font-face {
    font-family: 'ornitons-bold';
    src: url('../font/ornitons-bold-webfont.eot');
    src: url('../font/ornitons-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ornitons-bold-webfont.woff2') format('woff2'),
         url('../font/ornitons-bold-webfont.woff') format('woff'),
         url('../font/ornitons-bold-webfont.ttf') format('truetype'),
         url('../font/ornitons-bold-webfont.svg#ornitons-boldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'ornitons-demiboldregular';
    src: url('../font/ornitons-demibold-webfont.eot');
    src: url('../font/ornitons-demibold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ornitons-demibold-webfont.woff2') format('woff2'),
         url('../font/ornitons-demibold-webfont.woff') format('woff'),
         url('../font/ornitons-demibold-webfont.ttf') format('truetype'),
         url('../font/ornitons-demibold-webfont.svg#ornitons-demiboldregular') format('svg');
    font-weight: normal;
    font-style: normal;
}



@font-face {
    font-family: 'ornitons-heavyregular';
    src: url('../font/ornitons-heavy-webfont.eot');
    src: url('../font/ornitons-heavy-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ornitons-heavy-webfont.woff2') format('woff2'),
         url('../font/ornitons-heavy-webfont.woff') format('woff'),
         url('../font/ornitons-heavy-webfont.ttf') format('truetype'),
         url('../font/ornitons-heavy-webfont.svg#ornitons-heavyregular') format('svg');
    font-weight: normal;
    font-style: normal;
}




@font-face {
    font-family: 'ornitons-lightregular';
    src: url('../font/ornitons-light-webfont.eot');
    src: url('../font/ornitons-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ornitons-light-webfont.woff2') format('woff2'),
         url('../font/ornitons-light-webfont.woff') format('woff'),
         url('../font/ornitons-light-webfont.ttf') format('truetype'),
         url('../font/rnitons-light-webfont.svg#ornitons-lightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'ornitons-mediumregular';
    src: url('../font/ornitons-medium-webfont.eot');
    src: url('../font/ornitons-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ornitons-medium-webfont.woff2') format('woff2'),
         url('../font/ornitons-medium-webfont.woff') format('woff'),
         url('../font/ornitons-medium-webfont.ttf') format('truetype'),
         url('../font/ornitons-medium-webfont.svg#ornitons-mediumregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ornitons-regularregular';
    src: url('../font/ornitons-regular-webfont.eot');
    src: url('../font/ornitons-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ornitons-regular-webfont.woff2') format('woff2'),
         url('../font/ornitons-regular-webfont.woff') format('woff'),
         url('../font/ornitons-regular-webfont.ttf') format('truetype'),
         url('../font/ornitons-regular-webfont.svg#ornitons-regularregular') format('svg');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'ornitons-xlightregular';
    src: url('../font/ornitons-xlight-webfont.eot');
    src: url('../font/ornitons-xlight-webfont.eot?#iefix') format('embedded-opentype'),
         url('../font/ornitons-xlight-webfont.woff2') format('woff2'),
         url('../font/ornitons-xlight-webfont.woff') format('woff'),
         url('../font/ornitons-xlight-webfont.ttf') format('truetype'),
         url('../font/ornitons-xlight-webfont.svg#ornitons-xlightregular') format('svg');
    font-weight: normal;
    font-style: normal;

}