.filter{
	background: #000;
	border: 1px solid $border-color;
	// padding: 15px;

	&-group{
		padding: 15px 15px 5px;
	}
	& .filter-label{
		padding: 15px;
		background-color: $border-color;
		font-family: $secondary-font;
	}
	& .filter-label-big{
		font-size: 16px;
		margin-bottom: 10px;
	}
	& label{
		display: block;
		// font-family: $secondary-font;
		font-size: 15px;
		font-weight: 500;
		line-height: 22px;
		vertical-align: middle;
		margin-bottom: 10px;



		& i{
			width: auto;
			font-size: 18px;
			margin-right: 2px;
			color: $color-2;
		}
	}

	&-textfield{
		width: 100%;
		display: block;
	}

	& .form-check-input{
		width: 16px;
		height: 16px;
		background-color: red;
		position: static;
		margin-right: 5px;
	}
}

.sort{
	width: 200px;
	margin: 0 15px 30px;
	float: right;
}


.selectric .label, .input-group .form-control, .input-group-addon, .form-control{
	font-size: 13px;
	color: #333;
	border-radius: 0px;
}
