.booking{
	background: #fff;
	padding: 20px 0;
	color: #333;
	label{
		font-weight: 700;
		font-size: 15px;
		// text-transform: uppercase;
	}
}

#filters{
	display: none;
	margin-top: 30px;

	@media (min-width: $breakpoint-tablet){
		display: block !important;
	}
}

.filter{
	background: #000;
	border: 1px solid $border-color;
	// padding: 15px;

	&-group{
		padding: 15px 15px 5px;
	}
	& .filter-label{
		padding: 15px;
		background-color: $border-color;
		font-family: $secondary-font;
	}
	& .filter-label-big{
		font-size: 16px;
		margin-bottom: 10px;
	}
	& label{
		display: block;
		// font-family: $secondary-font;
		font-size: 15px;
		font-weight: 500;
		line-height: 22px;
		vertical-align: middle;
		margin-bottom: 10px;



		& i{
			width: auto;
			font-size: 18px;
			margin-right: 2px;
			color: $color-2;
		}
	}

	&-textfield{
		width: 100%;
		display: block;
	}

	& .form-check-input{
		width: 16px;
		height: 16px;
		background-color: red;
		position: static;
		margin-right: 5px;
	}
}

.sort{
	width: 200px;
	margin: 0 0 30px;
	float: right;

	@media (max-width: $breakpoint-tablet){
		
	}
	@media (max-width: $breakpoint-mobile){
		// float: left;
		margin-right: 15px;
		float: none;
		display: inline-block;
		max-width: 200px;
		margin-left: 10px;
		margin-bottom: 0px;
		vertical-align: top;
	}
}


.selectric .label, .input-group .form-control, .input-group-addon, .form-control{
	font-size: 15px;
	color: #000;
	border-color: $form-border;
	// border-radius: 2px;
}

.form-control{
	height: 45px;

	&::-webkit-input-placeholder { /* Chrome/Opera/Safari */
		color: #BDC3C7;
	}
	&::-moz-placeholder { /* Firefox 19+ */
		color: #BDC3C7;
	}
	&:-ms-input-placeholder { /* IE 10+ */
		color: #BDC3C7;
	}
	&:-moz-placeholder { /* Firefox 18- */
		color: #BDC3C7;
	}
}

.input-group-addon{
	background: #fff;
	border: none;
}

.input-group .form-control-lg{
	font-size: 20px;
}

.loginline{
	background: #999;
	height: 400px;
	width: 1px;
	margin: 0 auto;
}
.login{
	& .input{
		display: block;
		width: 100%;
		margin: 0;
		font-size: 18px;
		padding: 18px;
		border: 1px solid #999;
		-webkit-border-radius: 4px 4px 0 0;
		-moz-border-radius:  4px 4px 0 0;
		border-radius: 4px 4px 0 0;

		@media (max-width: $breakpoint-mobile){
			width: 100%;
		}

		&:focus{
			// border-color: #000;
			background-color: #E4F1FE;
			outline: none;
		}

		&.password{
			-webkit-border-radius: 0 0 4px 4px;
			-moz-border-radius:  0 0 4px 4px;
			border-radius: 0 0 4px 4px;
			border-top: none;
			margin-bottom: 15px;
		}
	}
	& .submit{
		margin-bottom: 30px;
	}

	& a{
		text-decoration: underline;

		&.forgotten{
			float: right;
			font-size: 14px;
			font-weight: 700;
			margin-top: 15px;
		}
	}
}

.login-facebook, .login-google{
	background-color: #3c66c4;
	color: #fff;
	padding: 20px 40px 20px 60px;
	font-size: 16px;
	white-space: nowrap;
	width: 100%;
	text-align: center;
	font-weight: 500;
	display: inline-block;
	margin-bottom: 10px;
	border: none;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	border-radius: 4px;

	background-image: url("../img/facebook.svg");
	background-repeat: no-repeat;
	background-size: auto 25px;
	background-position: 15px center;

	@media (max-width: $breakpoint-mobile){
		width: 100%;
	}

	&:hover{
		color: #fff;
		background-color: #30529d;
	}
}

.login-google{
	background-color: #cf4332;
	background-image: url("../img/google-plus.svg");

	&:hover{
		background-color: #a63628;
	}
}

.signup-facebook{
	background-color: #3c66c4;
	color: #fff;
	padding: 10px 15px 10px 40px;
	background: #3c66c4 url("../img/facebook.svg") no-repeat 15px center scroll;
	background-size: auto 15px;
	-webkit-border-radius: 4px;
	-moz-border-radius: 4px;
	display: inline-block;
	border-radius: 4px;
	margin: 0 0 30px;
	text-decoration: none !important;

	&:hover{
		color: #fff;
		background-color: #30529d;
	}
}


// VALIDATION
.valid{

	& .form-control, .selectric{
		border-color: $valid-color;
		// 
	}

	& label{
		color: $valid-color;

		&:after{
			display: inline-block;
			content: "";
			background: transparent url("../img/checked.svg") no-repeat center center scroll;
			background-size: 15px auto;
			width: 15px;
			height: 15px;
			line-height: 15px;
			vertical-align: middle;
			margin-left: 5px;
			position: relative;
			margin-top: -3px;
		}
	}

}

.has-error{

	& .form-control{
		border-color: $error-color;
		background: $error-bg-color;
		// color: $error-color;
	}

	& label{
		color: $error-color;

		&:after{
			display: inline-block;
			content: "";
			background: transparent url("../img/has-error.svg") no-repeat center center scroll;
			background-size: 20px auto;
			width: 20px;
			height: 15px;
			line-height: 15px;
			vertical-align: middle;
			margin-left: 5px;
			position: relative;
			margin-top: -3px;
		}
	}
}

.alert-danger{
	border-color: $error-color;
	color: $error-color;
	font-weight: 700;
}

// CART FORM

// PERSONAL INFO

.globalform{

	& label{
		font-weight: 700;
	}

	& .form-check-input{
		margin-left: 0px;
	}
}