.header{
	background: $header-bg-color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	z-index: 100;
	overflow: hidden;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;

	@media (max-width: $breakpoint-tablet){
		overflow: visible;
	}

	@media (max-width: $breakpoint-mobile){
		height: 70px;
		position: static;
	}

	&.scrolled{
		background: $header-bg-color-scrolled;
		-webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.4);
		-moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.4);
		box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.4);
	}

	&-logo{
		float: left;
		margin: 15px 0;

		& img{
			max-height: 60px;
			width: auto;

			@media (max-width: $breakpoint-mobile){
				height: 40px;
			}
		}

		& span{
			margin-left: 15px;
			font-size: 14px;
			border-left: 1px solid #fff;
			padding-left: 10px;
			color: #fff;
			font-weight: 500;
			text-transform: uppercase;
			display: inline-block;

			@media (max-width: $breakpoint-tablet){
				display: none;
			}
		}
	}

	&-nav{
		float: right;
		vertical-align: middle;

		@media (min-width: $breakpoint-tablet){
			display: block !important;
		}

		@media (max-width: $breakpoint-tablet){
			position: fixed;
			top: 90px;
			left: 0;
			width: 100%;
			vertical-align: top;
			float: none;
			z-index: 200;
			display: none;
			padding: 30px 0;
			background-color: $color-1;
		}

		@media (max-width: $breakpoint-mobile){
			top: 70px;
			padding: 0;
		}
		

		&-list{
			margin: 0;
			padding: 0;

			@media (max-width: $breakpoint-mobile){
				padding: 15px 0;
			}
		}

		& li{
			display: inline-block;
			list-style-type: none;
			vertical-align: middle;

			@media (max-width: $breakpoint-tablet){
				display: block;
				margin-bottom: 2px;

				&.mobile-menu-no{
					display: none;
				}
			}

			& a{
				color: #fff;
				padding: 20px 10px;
				margin: 15px 15px 0;
				display: block;
				font-size: 15px;
				text-transform: uppercase;
				font-family: $secondary-font;

				@media (max-width: $breakpoint-tablet){
					margin: 0 auto;
					padding: 15px 15px 10px 15px;
					display: inline-block;
				}

				&:after{
					display: block;
					content: "";
					height: 2px;
					background-color: #fff;
					width: 0px;
					margin-top: 5px;
					-webkit-transition: all .3s ease 0s;
					transition: all .3s ease 0s;
				}

				&:hover:after{
					width: 100%;
				}
			}
			&:last-child a{
				margin-right: 0;
			}
		}
	}

	& .nav-btn{
		background: $color-1;
		border: 2px solid $button-border-color;
		border-radius: 100px;
		padding: 15px 40px 15px 60px;
		position: relative;
		overflow: hidden;
		display: block;
		margin-top: 5px;

		&:after{
			display: none;
		}

		& img{
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			border-radius: 50px;
			overflow: hidden;
			width: 40px;
			height: 40px;
			position: absolute;
			background: #fff;
			left: 5px;
			top: 4px;
			// top: 50%;
			// -ms-transform: translate(0%, -50%);
			// -webkit-transform: translate(0%, -50%);
			// transform: translate(0%, -50%);
		}

		&:hover{
			background-color: $button-bg-hover;
			color: $button-hover-color;
		}
	}
}

.hero{
	height: 80%;
	position: relative;

	&-content{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		// background-color: $hero-overlay;
		text-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		

		& .hero-preheader{
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 30px;
			font-weight: 500;
			margin-top: 45px;
			@media (max-width: $breakpoint-mobile){
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
		& .hero-header{
			font-family: $secondary-font;
			font-size: 60px;
			margin:0 auto 20px;
			max-width: 80%;

			@media (max-width: $breakpoint-mobile){
				font-size: 30px;
			}
		}

		& .hero-subheader{
			font-size: 22px;
			font-family: $tertiary-font;
			max-width: 80%;
			margin: 0 auto;

			@media (max-width: $breakpoint-mobile){
				font-size: 16px;
			}
		}

		& .scroll-down{
			width: 50px;
			height: 50px;
			border: 2px solid $button-border-color;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			display: inline-block;
			overflow: hidden;
			margin-top: 40px;
			cursor: pointer;
			background: transparent url(../img/amf/arrow-down.svg) no-repeat center center scroll;
			-webkit-transition: all .3s ease 0s;
			transition: all .3s ease 0s;

			&:hover{
				background-color: $button-border-color;
			}
		}
	}

	& .videowrapper{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		overflow: hidden;
		background: $main-bg; 
		background-size: cover;

		&:before{
			content:"";
			background: $prefooter-overlay;
			// background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
			// background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			opacity: 1;
		}
	}

	& .videoplayer{
		position: absolute;
		// display: none;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		z-index: 1;
		margin: auto;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		pointer-events: none;

		@media (max-width: $breakpoint-tablet){
			display: none;
		}
	}
}

.nav-mobile-btn{
	border: 2px solid $color-1;
	background: $color-1 url(../img/menu.svg) no-repeat 50% 50% scroll;
	background-size: 16px auto;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	cursor: pointer;
	overflow: hidden;
	margin-top: 25px;
	// position: absolute;
	float: right;
	display: none;

	&:hover{
		background-color: #000;
	}
	@media (max-width: $breakpoint-tablet){
		display: block;
	}
	@media (max-width: $breakpoint-mobile){
		margin-top: 15px;
	}
}

.header-booking-mob{
	float: right;
	display: none;
	line-height: 90px;
	font-size: 14px;
	margin-right: 30px;
	font-weight: 700;

	@media (max-width: $breakpoint-tablet){
		display: block;
	}
	@media (max-width: $breakpoint-mobile){
		line-height: 70px;
		margin-right: 20px;
	}
}