.header{
	background: $header-bg-color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	z-index: 100;
	overflow: hidden;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;

	&.scrolled{
		background: $header-bg-color-scrolled;
		-webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
		box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.75);
	}

	&-logo{
		float: left;
		margin: 15px 0;

		& img{
			max-height: 60px;
			width: auto;
		}

		& span{
			margin-left: 15px;
			font-size: 14px;
			border-left: 1px solid #fff;
			padding-left: 15px;
			color: #ccc;
			font-weight: 500;
			text-transform: uppercase;
			display: inline-block;
		}
	}

	&-nav{
		float: right;
		vertical-align: middle;
		

		&-list{
			margin: 0;
			padding: 0;
		}

		& li{
			display: inline-block;
			list-style-type: none;
			vertical-align: middle;

			& a{
				color: #fff;
				padding: 20px 10px;
				margin: 15px 15px 0;
				display: block;
				font-size: 15px;
				text-transform: uppercase;
				font-family: $secondary-font;

				&:after{
					display: block;
					content: "";
					height: 2px;
					background-color: #fff;
					width: 0px;
					margin-top: 5px;
					-webkit-transition: all .3s ease 0s;
					transition: all .3s ease 0s;
				}

				&:hover:after{
					width: 100%;
				}
			}
			&:last-child a{
				margin-right: 0;
			}
		}
	}

	& .nav-btn{
		background: $color-1;
		border: 2px solid $button-border-color;
		border-radius: 100px;
		padding: 15px 40px 15px 60px;
		position: relative;
		overflow: hidden;
		display: block;
		margin-top: 5px;

		&:after{
			display: none;
		}

		& img{
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			border-radius: 50px;
			overflow: hidden;
			width: 40px;
			height: 40px;
			position: absolute;
			background: #fff;
			left: 5px;
			top: 4px;
			// top: 50%;
			// -ms-transform: translate(0%, -50%);
			// -webkit-transform: translate(0%, -50%);
			// transform: translate(0%, -50%);
		}

		&:hover{
			background-color: $button-bg-hover;
			color: $button-hover-color;
		}
	}
}

.hero{
	height: 70%;
	position: relative;

	&-content{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 2;
		background-color: rgba(0,0,0,0.5);
		

		& .hero-preheader{
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 30px;
			font-weight: 500;
		}
		& .hero-header{
			font-family: $secondary-font;
			font-size: 60px;
			margin-bottom: 20px;
		}

		& .hero-subheader{
			font-size: 22px;
			font-family: $tertiary-font;
		}

		& .scroll-down{
			width: 50px;
			height: 50px;
			border: 2px solid $button-border-color;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			display: inline-block;
			overflow: hidden;
			margin-top: 40px;
			cursor: pointer;
			background: transparent url(../img/amf/arrow-down.svg) no-repeat center center scroll;
			-webkit-transition: all .3s ease 0s;
			transition: all .3s ease 0s;

			&:hover{
				background-color: $button-border-color;
			}
		}
	}

	& .videowrapper{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		overflow: hidden;
		background: $main-bg; 
		background-size: cover;

		&:before{
			content:"";
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
		}
	}

	& .videoplayer{
		position: absolute;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		z-index: 1;
		margin: auto;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		pointer-events: none;
	}
}