.header{
	background: $header-bg-color;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 90px;
	z-index: 100;
	// overflow: hidden;
	-webkit-transition: all .3s ease 0s;
	transition: all .3s ease 0s;

	@media (max-width: $breakpoint-tablet){
		overflow: visible;
	}

	@media (max-width: $breakpoint-mobile){
		height: 70px;
		position: static;
	}

	&.scrolled{
		background: $header-bg-color-scrolled;
		// -webkit-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.4);
		// -moz-box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.4);
		// box-shadow: 0px 10px 16px 0px rgba(0,0,0,0.4);
	}

	&--page{
		background: $header-bg-color-scrolled;
	}

	&-logo{
		float: left;
		margin: 15px 0;

		& img{
			max-height: 60px;
			width: auto;

			@media (max-width: $breakpoint-mobile){
				height: 40px;
			}
		}

		& span{
			margin-left: 15px;
			font-size: 14px;
			border-left: 1px solid #fff;
			padding-left: 10px;
			color: #fff;
			font-weight: 500;
			text-transform: uppercase;
			display: inline-block;

			// @media (max-width: $breakpoint-tablet){
			// 	display: none;
			// }
		}
	}



	&-nav{
		float: right;
		vertical-align: middle;


		@media (min-width: 993px){
			display: block !important;
		}

		@media (max-width: $breakpoint-tablet){
			position: absolute;
			top: 90px;
			left: 0;
			width: 100%;
			vertical-align: top;
			float: none;
			z-index: 200;
			display: none;
			padding: 30px 0;
			background-color: $color-1;
		}
		// @media (min-width: $breakpoint-tablet){
		// 	display: none !important;
		// }

		@media (max-width: $breakpoint-mobile){
			top: 70px;
			padding: 0;
		}
		

		&-list{
			margin: 0;
			padding: 0;
			// background: blue;
			@media (max-width: $breakpoint-mobile){
				// padding: 15px 0;
			}
		}

		&-listitem{
			display: inline-block;
			list-style-type: none;
			vertical-align: middle;
			position: relative;
			margin: 0 10px;
			font-size: 15px;
			text-transform: uppercase;
			font-family: $secondary-font;
			// background: yellow;

			&--language{
				// border-left: 1px solid #fff;
				// padding-left: 15px;
				// font-size: 14px;
				position: relative;
				// text-transform: uppercase;
				font-family: $primary-font;
				text-transform: none;

				cursor: pointer;

				// & span{
				// 	border-left: 1px solid #fff;
				// 	padding-left: 15px;
				// }
			}

			&:last-child{
				margin-right: 0;
			}


			&.header-nav-dropdown:after{
				display: inline-block;
				content: "\25BE";
				margin-left: 10px;
				position: absolute;
				top: 50%;
				right: 0;
				-ms-transform: translate(0%, -50%);
				-webkit-transform: translate(0%, -50%);
				transform: translate(0%, -50%);
				margin-top: -4px;

				@media (max-width: $breakpoint-tablet){
					top: 0px;
					display: none;
					-ms-transform: translate(0%, 0%);
					-webkit-transform: translate(0%, 0%);
					transform: translate(0%, 0%);
					margin-top: 12px;
					right: 10px;
				}
			}
			

			@media (max-width: $breakpoint-tablet){
				display: block;
				margin-bottom: 2px;

				&.mobile-menu-no{
					display: none;
				}
			}

			& a{
				color: #fff;
				// background: red;
				padding: 32px 15px;
				// height: 90px;
				// line-height: 90px;
				// margin: 15px 15px 0;
				display: block;
				// background: yellow;
				

				@media (max-width: $breakpoint-tablet){
					margin: 0 auto;
					// padding: 15px 15px 10px 15px;
					display: inline-block;
				}

				&:after{
					display: block;
					content: "";
					height: 2px;
					background-color: #fff;
					width: 0px;
					margin-top: 5px;
					-webkit-transition: all .3s ease 0s;
					transition: all .3s ease 0s;
				}

				&:hover:after{
					width: 100%;
				}

			}
			
		}
	}

	& .nav-btn{
		background: $color-1;
		border: 2px solid $button-border-color;
		border-radius: 100px;
		padding: 15px 40px 15px 60px;
		position: relative;
		overflow: hidden;
		display: block;
		// margin-top: 3px;

		& span{
			font-family: $primary-font;
			font-weight: 700;
		}

		&:after{
			display: none;
		}

		& img{
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			border-radius: 50px;
			overflow: hidden;
			width: 40px;
			height: 40px;
			position: absolute;
			background: #fff;
			left: 5px;
			top: 4px;
			// top: 50%;
			// -ms-transform: translate(0%, -50%);
			// -webkit-transform: translate(0%, -50%);
			// transform: translate(0%, -50%);
		}

		&:hover{
			background-color: $button-bg-hover;
			color: $button-hover-color;
		}

		@media (max-width: $breakpoint-tablet){
			border-radius: 20px;
			padding: 10px 15px 10px 42px;
			margin-top: 25px;
			height: 40px;
			color: #fff;
			line-height: 1;
			white-space: nowrap;

			& img{
				width: 28px;
				height: 28px;
			}
		}
		@media (max-width: $breakpoint-mobile){
			margin-top: 15px;
		}
	}
}


.header-nav-dropdown.active:before{
	-ms-transform: rotate(180deg); /* IE 9 */
	-webkit-transform: rotate(180deg); /* Safari */
	transform: rotate(180deg);
}

// .header-nav-dropdown:hover{
// 	.dropdown{
// 		display: block;
// 	}
// }
.dropdown{
	position: fixed;
	display: none;
	background: #fff;
	z-index: 100;

	padding: 30px 0;
	top: 90px;
	right: 0;
	text-align: center;
	width: 100%;
	border-bottom: 4px solid $color-1;



	& a{
		font-size: 18px;
		color: #000;
		white-space: nowrap;
		display: inline-block;
		// font-family: $primary-font;
		// text-transform: none;

		&:after{
			display: block;
			content: "";
			height: 2px;
			background-color: #000;
			width: 0px;
			margin-top: 5px;
			-webkit-transition: all .3s ease 0s;
			transition: all .3s ease 0s;
		}

		&:hover:after{
			width: 100%;
		}
	}

	@media (max-width: $breakpoint-tablet){
		position: relative;
		background: transparent;
		display: block;
		text-align: left;
		padding: 0;
		top: 0;
		z-index: inherit;


		& a{
			// display: block;
			padding: 0 0 0 5px;
			font-size: 13px;
			color: #fff;

			&:after{
				background: #fff;
			}
		}
	}
}

.languages{
	position: fixed;
	display: none;
	top: 91px;
	// font-size: 14px;
	right: 0px;
	z-index: 50;
	background: $header-bg-color;
	text-align: right;

	& ul{
		padding: 15px;
		margin: 0;
		// min-width: 200px;
	}

	& li{
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: auto;


		& a{
			font-family: $primary-font;
			// font-size: 13px;
			line-height: 1 !important;
			padding: 15px 25px;
			color: #fff;
			height: auto;
			display: block;

			&:after{
				display: none;
			}

			&:hover{
				// color: $color-2;
				text-decoration: underline;
			}
		}
	}

}

.hero{
	height: 70%;
	min-height: 500px;
	position: relative;

	&-content{
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		z-index: 3;
		// background-color: $hero-overlay;
		text-shadow:  0px 0px 10px 0px rgba(0,0,0,0.5);
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		

		& .hero-preheader{
			text-transform: uppercase;
			font-size: 18px;
			margin-bottom: 30px;
			font-weight: 500;
			margin-top: 45px;
			@media (max-width: $breakpoint-mobile){
				font-size: 12px;
				margin-bottom: 10px;
			}
		}
		& .hero-header{
			font-family: $secondary-font;
			font-size: 60px;
			margin:0 auto 20px;
			max-width: 80%;
			// background-color: red;

			@media (max-width: $breakpoint-mobile){
				font-size: 30px;
			}
		}

		& .hero-subheader{
			font-size: 30px;
			font-family: $tertiary-font;
			max-width: 80%;
			margin: 0 auto;

			@media (max-width: $breakpoint-mobile){
				font-size: 16px;
			}
		}

		& .scroll-down{
			width: 50px;
			height: 50px;
			border: 2px solid $button-border-color;
			-webkit-border-radius: 100px;
			-moz-border-radius: 100px;
			border-radius: 100px;
			display: inline-block;
			overflow: hidden;
			margin-top: 40px;
			cursor: pointer;
			background: transparent url(../img/amf/arrow-down.svg) no-repeat center center scroll;
			-webkit-transition: all .3s ease 0s;
			transition: all .3s ease 0s;

			&:hover{
				background-color: $button-border-color;
			}
		}
	}

	& .videowrapper{
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 2;
		overflow: hidden;

		background: $main-bg; 
		background-size: cover;

		&:before{
			content:"";
			background: $prefooter-overlay;
			// background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
			// background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
			// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
			position: absolute;
			right: 0;
			top: 0;
			bottom: 0;
			left: 0;
			z-index: 10;
			opacity: 1;
		}
	}

	& .videoplayer{
		position: absolute;
		opacity: 0;
		top: 50%;
		left: 50%;
		width: 100%;
		height: 100%;
		z-index: 1;
		margin: auto;
		-ms-transform: translate(-50%, -50%);
		-webkit-transform: translate(-50%, -50%);
		transform: translate(-50%, -50%);
		pointer-events: none;
		-webkit-animation-duration : 1s;
		animation-duration : 1s;

		@media (max-width: $breakpoint-tablet){
			display: none;
		}
	}
}

.nav-mobile-btn{
	border: 2px solid $color-1;
	background: $color-1 url(../img/menu.svg) no-repeat 50% 50% scroll;
	background-size: 16px auto;
	width: 40px;
	height: 40px;
	border-radius: 100px;
	cursor: pointer;
	overflow: hidden;
	margin-top: 25px;
	// position: absolute;
	float: right;
	// display: none;

	&:hover{
		background-color: #000;
	}
	@media (max-width: $breakpoint-mobile){
		margin-top: 15px;
	}
}

.header-booking-mob{
	float: right;
	display: none;
	// line-height: 90px;
	font-size: 14px;
	margin-right: 15px;
	font-weight: 700;

	@media (max-width: $breakpoint-tablet){
		display: block;
	}
	@media (max-width: $breakpoint-mobile){
		// line-height: 70px;
		margin-right: 10px;
	}
}