body{
	background: $bg-color;
	color: $text-color;

	&.body-padding{
		padding-top: 90px;

		@media (max-width: $breakpoint-mobile){
			padding-top: 70px;
			padding-top: 0;
		}
	}
}

.clearfix:after{
	clear: both;
	display: block;
	content: "";
	height: 0px;
	line-height: 0px;
}

.m-t-10{
	margin-top: 10px !important;
}
.m-t-20{
	margin-top: 20px !important;
}
.m-t-30{
	margin-top: 30px !important;
}
.m-t-40{
	margin-top: 40px !important;
}
.m-t-50{
	margin-top: 50px !important;
}

.m-b-10{
	margin-bottom: 10px !important;
}
.m-b-20{
	margin-bottom: 20px !important;
}
.m-b-30{
	margin-bottom: 30px !important;
}
.m-b-40{
	margin-bottom: 40px !important;
}
.m-b-50{
	margin-bottom: 50px !important;
}

.slope{
	// height: 300px;
	background: red;
	padding: 100px 0;
	clip-path: polygon(
		0 0,
		100% 6vw,
		100% 100%,
		0 calc(100% - 6vw)
		);
}

.vertical-align{
	position: relative;
	top: 50%;
	-ms-transform: translate(0, -50%);
	-webkit-transform: translate(0, -50%);
	transform: translate(0, -50%);
}

.site-background{
	position: fixed;
	width: 100%;
	height: 680px;
	display: block;
	z-index: -1;
	top: 0;
	left: 0;
	

	&:before{
		display: block;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
		background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		position: absolute;
		left: 0;
		width: 100%;
		height: 680px;
		content:"";
		z-index: 2;
	}

	&-visual{
		background: $main-bg; 
		background-size: cover;
		position: absolute;
		left: 0;
		width: 100%;
		height: 680px;
		opacity: .3;
		-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
		filter: grayscale(100%);
	}

	&.scrolled:after{
		display: block;
		height: 200px;
		background-color: red;
		/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#000000+0,000000+100&0+0,1+100 */
		// background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,1) 100%); /* FF3.6-15 */
		// background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* Chrome10-25,Safari5.1-6 */
		// background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
		// filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#000000',GradientType=0 ); /* IE6-9 */
		position: absolute;
		top: 90px;
		left: 0;
		width: 100%;
		content:"";
		z-index: 2;
	}
}

.section{
	padding: 70px 0;
	background: $secion-bg-color;
	// border-bottom: 1px solid rgba(255,255,255,.1);

	&-line{
		border-bottom: 1px solid rgba(255,255,255,.1);
	}

	&--offers{
		padding-top: 0px;
	}

	&--details{
		// background-color: $product-bg-color;
	}

	&--rooms{
		background: #ececec;
		color: #333;
	}

	&--cart{
		background: #fff;
		color: #000;
	}

	@media (max-width: $breakpoint-mobile){
		padding: 60px 0;
	}
}

.homepage-category{
	display: none;

	&--active{
		display: block;
	}
}

// .homepage-offer-wrapper{
// 	background: red;
// 	min-height: 400px;
// }



.category-menu{
	margin: 30px 0 50px;
	padding: 0;
	list-style-type: none;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;


	@media (max-width: $breakpoint-mobile){
		// margin-bottom: 10px;
	}

	& li{
		display: inline-block;
		flex-grow: 0;
		flex-shrink: 1;
		font-family: $secondary-font;
		font-size: 26px;
		padding: 15px 0px 12px;
		margin: 0 30px;
		border-bottom: 3px solid transparent;
		// -webkit-border-radius: $button-radius;
		// -moz-border-radius: $button-radius;
		// border-radius: $button-radius;
		text-transform: uppercase;
		opacity: .5;
		-webkit-transition: all .3s ease 0s;
		transition: all .3s ease 0s;
		cursor: pointer;
		white-space: nowrap;


		@media (max-width: $breakpoint-tablet){
			font-size: 20px;
		}

		@media (max-width: $breakpoint-mobile){
			
			margin: 0;
			font-size: 11px;
			padding: 10px 15px;
			// padding: 0;
		}

		&:hover{
			// border-color: $color-1;
			opacity: .8;
		}

		&.active{
			border-color: $color-1;
			opacity: 1;
		}
	}
}

.owl-carousel .owl-stage{
	display: flex;
	align-items: stretch;
}
.owl-item{
	flex-shrink: 0;
}
.owl-item .item{
	height: 100%;
	padding-top: 50px;
	padding-bottom: 2px;
}

.scroll-container{
	overflow-x: auto;
	-webkit-overflow-scrolling: touch; /* Lets it scroll lazy */
	display: flex;
	flex-wrap: wrap;
	align-items: flex-start;
	flex-direction: row;
	align-items: stretch;
	// margin-left: 15px;
	// margin-right: 15px;
	// padding-top:30px;

	&--nowrap{
		flex-wrap: nowrap;
	}

	@media (max-width: $breakpoint-tablet) { 
		flex-wrap: nowrap;
	}

	// &:after{
	// 	content: "";
	// 	clear: both;
	// 	display: block;
	// }
	// background: red;
}

.product{
	border: $product-border;
	background: $product-bg;
	position: relative;
	padding: 0 15px 15px;
	cursor: pointer;
	height: 100%;
	color: $product-color;


	&--overview{
		// float: left;
		flex-shrink: 0;
		flex-grow: 1;
		align-self: auto;
		flex-basis: 261px;
		margin-bottom: 50px;
		height: auto;
		margin-right: 15px;
		margin-top: 20px;

		@media (max-width: $breakpoint-tablet) { 
			flex-basis: 261px;
			flex-grow: 0;
			margin-bottom: 20px;
		}
	}

	@media (max-width: $breakpoint-mobile){
		// width: 80%;
		// margin: 0 auto;
	}

	// -webkit-transition: all .3s ease 0s;
	// transition: all .3s ease 0s;


	&-label{
		position: absolute;
		right: 10px;
		top: 10px;
		border: 1px solid #fff;
		padding: 5px 5px 4px;
		border-radius: 4px;
		-webkit-border-radius: 4px;
		-moz-border-radius: 4px;
		font-size: 12px;
		background: #fff;
		z-index: 3;
		line-height: 1;
		text-transform: uppercase;
		color: #000;
		font-family: $secondary-font;
	}
	&-thumb{
		position: relative;
		margin-top: -20px;
		border: $product-border;
		-webkit-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
		-moz-box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
		box-shadow: 0px 0px 30px 10px rgba(0,0,0,0.5);
		background: $product-bg;
		z-index: 1;
		-webkit-transition: all .3s ease 0s;
		transition: all .3s ease 0s;
		background: #000;

		& img{
			opacity: .7;
		}
	}
	&-content{
		position: relative;
		padding-top: 30px;

		&--margin{
			padding-bottom: 40px;
		}
	}
	&-info{
		width: 40px;
		height: 40px;
		// border: 3px solid $color-1;
		-webkit-box-shadow: inset 0px 0px 0px 3px rgba(216,35,42,1);
		-moz-box-shadow: inset 0px 0px 0px 3px rgba(216,35,42,1);
		box-shadow: inset 0px 0px 0px 3px rgba(216,35,42,1);
		position: absolute;
		left: 50%;
		top: -20px;
		z-index: 2;
		background: $product-bg;
		-webkit-border-radius: 50px;
		-moz-border-radius: 50px;
		border-radius: 50px;
		-ms-transform: translate(-50%, 0);
		-webkit-transform: translate(-50%, 0);
		transform: translate(-50%, 0);
		-webkit-transition: all .3s ease 0s;
		transition: all .3s ease 0s;


		&:before{
			display: block;
			content:"";
			background-image: url(../img/amf/arrow-white.svg);
			background-repeat: no-repeat;
			background-position: center center;
			background-size: 20px;
			width: 40px;
			height: 40px;
			z-index: 1;
			-webkit-transition: all .3s ease 0s;
			transition: all .3s ease 0s;
		}
	}

	&-title{
		min-height: 30px;
		font-size: 15px;
		text-transform: uppercase;
		overflow: hidden;
		@media (max-width: $breakpoint-mobile){
			min-height: 0px;
			height: auto;
			overflow: visible;
		}
	}

	& .extra-price{
		color: #fff;
		margin: 0 0 10px 0;
		font-size: 14px;

		& strong{
			font-size: 24px;
			color: #fff;
		}

		@media (max-width: $breakpoint-mobile){
			margin: 0 0 5px 0;
		}
	}

	&-description{
		font-size: 14px;
		font-weight: 400;
		margin: 0 0 15px;
		@media (max-width: $breakpoint-mobile){
			
		}
	}

	&-details{
		border-top: 1px solid rgba(255,255,255,.1);
		text-align: left;
		position: absolute;
		bottom: 0;
		left: 15px;
		width: calc(100% - 30px);
		padding: 15px 0;
	}

	&-distance{
		float: left;
		font-size: 12px;
		margin-top: 3px;

		& img{
			height: 16px !important;
			width: auto !important;
			display: inline-block !important;
			vertical-align: middle;
			margin-right: 5px;
		}
	}
	&-rating{
		float: right;
		text-align: right;

		& img{
			width: 16px !important;
			display: inline-block !important;
			vertical-align: baseline;
			vertical-align: middle;
		}
	}

	&-list{
		margin: 20px 0 0 0;
		padding: 0;
		text-align: left;
		list-style-type: none;
		font-size: 14px;

		& li{
			margin-bottom: 5px;
		}
	}

	&:hover{
		border: $product-border-hover;
		background: $product-bg-hover;
		color: $product-hover-color;
		-webkit-box-shadow: inset 0px 0px 15px 0px rgba(0,153,205,.3);
		-moz-box-shadow: inset 0px 0px 15px 0px rgba(0,153,205,.3);
		box-shadow: inset 0px 0px 15px 0px rgba(0,153,205,.3);

		& .product-thumb{
			border: $product-border-hover;
		}
		& .product-thumb img{
			opacity: 1;
		}

		& .product-info{
			-webkit-box-shadow: inset 0px 0px 0px 40px rgba(216,35,42,1);
			-moz-box-shadow: inset 0px 0px 0px 40px rgba(216,35,42,1);
			box-shadow: inset 0px 0px 0px 40px rgba(216,35,42,1);
		}

		& .product-info:before{
			-ms-transform: rotate(90deg); /* IE 9 */
			-webkit-transform: rotate(90deg); /* Safari */
			transform: rotate(90deg);
		}
	}
}

// DETAILS

.detail-right{
	margin-bottom: 40px;
}

.details{
	& .product-distance{
		font-size: 16px;
		margin-right: 15px;
		padding-right: 15px;
		border-right: 1px solid $product-border-color;
		margin-top: 0px;

		

	}
	& .product-showonmap{
		float: left;
		border-right: 1px solid $product-border-color;
		padding-right: 15px;
		margin-right: 15px;

		
	}
	& .product-rating{
		text-align: left;
		float: none;
		margin-top: 0px;

		@media (max-width: $breakpoint-mobile){
			display: block;
			float: none;
			clear: both;
			margin-top: 30px;
		}
	}

	& .product-price{
		
		padding: 10px 0;

		& .amount{
			// font-family: $secondary-font;
			font-size: 36px;
			font-weight: 700;
			margin-bottom: 10px;
		}

		& span{
			font-size: 16px;
			font-family: $primary-font;
		}
	}
	&-content{
		margin-top: 30px;
		padding-top: 30px;
		border-top: 1px solid $product-border-color;
		font-size: 16px;
		line-height: 27px;

		& ul{
			margin: 0 0 30px;
			padding: 0;

			& li{
				list-style-type: none;
				background: url(../img/amf/check.svg) no-repeat left center;
				background-size: 16px auto;
				padding: 0 0 0 26px;
				margin: 0;
			}
		}
	}
}

.rooms{

	& .room{
		border: 1px solid #000;
		margin-bottom: 30px;
		background: #fff;
		text-align: left;
		-webkit-transition: all .2s ease-out 0s;
			-moz-transition: all .2s ease-out 0s;
			-o-transition: all .2s ease-out 0s;
			transition: all .2s ease-out 0s;

		@media (max-width: $breakpoint-mobile){
			margin-bottom: 15px;
		}

		&:hover{
			border: $product-border-hover;
			// background: $product-bg-hover;
			// color: $product-hover-color;
			-webkit-box-shadow: 0px 0px 15px 0px rgba(0,153,205,.3);
			-moz-box-shadow: 0px 0px 15px 0px rgba(0,153,205,.3);
			box-shadow: 0px 0px 20px 5px rgba(0,0,0,.3);
		}

		&-content{
			padding: 15px 30px 15px 0;
			@media (max-width: $breakpoint-mobile){
				font-size: 13px;
			}
		}
		&-title{
			// font-family: $secondary-font;
			font-size: 20px;
			margin-bottom: 10px;
			font-weight: 500;
			// text-transform: uppercase;
			@media (max-width: $breakpoint-mobile){
				font-size: 17px;
			}
		}

		&-max img{
			height: 22px;
			display: inline-block;
		}

		&-intro{
			font-size: 15px;
			margin: 10px 0 0 0;
			line-height: 1.5;
			color: #22313F;

			@media (max-width: $breakpoint-mobile){
				display: none;
			}
		}

		&-price{
			background:  #000;
			border-top: 1px solid #000;
			color: #fff;
			padding: 10px;
			text-align: right;
			font-weight: 700;
			font-size: 20px;
			position: relative;
			// cursor: pointer;
			



			@media (max-width: $breakpoint-mobile){
				font-size: 17px;
				
			}

			// &:hover{
			// 	background: $color-1;
			// }

			& span{
				font-family: $primary-font;
				font-weight: normal;
				font-size: 70%;
			}

			& .button{
				margin-left: 15px;
				
			}
		}

		&-arrow{
			width: 30px;
			height: 30px;
			-webkit-box-shadow: inset 0px 0px 0px 3px rgba(216,35,42,1);
			-moz-box-shadow: inset 0px 0px 0px 3px rgba(216,35,42,1);
			box-shadow: inset 0px 0px 0px 3px rgba(216,35,42,1);
			
			position: absolute;
			right: 15px;
			top: 50%;
			-ms-transform: translate(0, -50%);
			-webkit-transform: translate(0, -50%);
			transform: translate(0, -50%);
			
			background: $product-bg;
			-webkit-border-radius: 50px;
			-moz-border-radius: 50px;
			border-radius: 50px;

			-webkit-transition: all .3s ease 0s;
			transition: all .3s ease 0s;


			&:before{
				display: block;
				content:"";
				background-image: url(../img/amf/arrow-white.svg);
				background-repeat: no-repeat;
				background-position: center center;
				background-size: 15px;
				width: 30px;
				height: 30px;
				// -ms-transform: rotate(90deg); /* IE 9 */
				// -webkit-transform: rotate(90deg); /* Safari */
				// transform: rotate(90deg);
				-webkit-transition: all .3s ease 0s;
				transition: all .3s ease 0s;
			}
		}
	}
}


.address{
	margin-top: 30px;
	& img{
		display: inline-block;
		width: 16px;
		margin-right: 10px;
	}

	& p{
		margin-bottom: 0px;
	}
}


// WHY BOOK

.whybook{
	&-item{
		@media (max-width: $breakpoint-tablet){
			margin-bottom: 30px;
		}
	}
	&-icon{
		max-height: 65px;
		margin: 10px auto 30px;
		display: block;
	}

	&-heading{
		text-transform: none;
		min-height: 53px;
		margin-bottom: 5px;
		font-family: $secondary-font;
		font-size: 22px;
		line-height: 26px;
		font-weight: 500;
		text-transform: none;

		@media (max-width: $breakpoint-mobile){
			min-height: 0px;
			height: auto;
			font-size: 18px;
			margin-bottom: 10px;
		}
	}

	&-p{
		padding: 0 15px;
		font-size: 14px;
		text-align: justify;
		@media (max-width: $breakpoint-mobile){
			font-size: 14px;
			text-align: center;
		}
	}
}

//  REVIEWS

.review{
	padding-bottom: 60px;

	@media (max-width: $breakpoint-mobile){
		padding-bottom: 30px;
	}
	& img{
		max-width: 60px;
		margin: 0 auto 30px;
	}
	&-title{
		font-size: 32px;
		font-family: $tertiary-font;
		margin-bottom: 30px;
		@media (max-width: $breakpoint-mobile){
			font-size: 20px;
			margin-bottom: 15px;
		}
	}
	&-author{
		color: $color-1;
		margin-bottom: 10px;
	}
	&-origin{
		font-weight: 700;
		font-size: 13px;
	}
}


// INFO

.info-labels{
	display: flex;
	padding: 0;
	margin: 30px 0;

	@media (max-width: $breakpoint-mobile){
		display: none;
	}

	& li{
		flex-grow: 1;
		list-style-type: none;
		margin: 0 15px 0 0;
	}
}

.info-list-category{
	padding-top: 30px;
	padding-bottom: 30px;
}
.info-list-section{
	text-transform: uppercase;
	// font-weight: 600;
	padding-top: 15px;
	font-size: 22px;
	font-family: $secondary-font;
	margin-bottom: 20px;

	& span{
		display: inline-block;
		padding-bottom: 5px;

		@media (max-width: $breakpoint-mobile){
			font-size: 16px;
			border-bottom: 2px solid $color-1;
		}
	}

	
}
.info-list{
	list-style-type: none;
	margin: 0;
	padding: 0;
	

	&-item{
		border-bottom: 1px solid $border-color;
	}

	&-question{
		cursor: pointer;
		padding: 15px 15px 15px 0;
		line-height: 1;
		text-transform: uppercase;
		// font-family: $secondary-font;
		font-weight: 600;

		background: transparent url(../img/plus-white.svg) no-repeat center right;
		background-size: 20px auto;

		@media (max-width: $breakpoint-mobile){
			font-size: 14px;
		}
		

		&.active{
			background: transparent url(../img/minus-white.svg) no-repeat center right;
			background-size: 20px auto;
		}
	}
	&-answer{
		display: none;
		font-size: 15px;
		font-weight: 300;
		line-height: 1.5;
		margin-bottom: 20px;
		padding-right: 30px;

		@media (max-width: $breakpoint-mobile){
			font-size: 13px;
		}

		& p{
			margin-bottom: 15px;
		}

		& ul{
			margin: 15px 0 15px 15px;
			padding: 0;
		}
		& li{
			list-style-type: square;
		}
	}
}

.mobile-book{
	position: fixed;
	background: #fff;
	bottom: 0;
	left: 0;
	width: 100%;
	z-index: 100;
	padding: 15px;
	color: #000;
	display: none;
	-webkit-box-shadow: 0px -5px 30px 0px rgba(0,0,0,0.5);
	-moz-box-shadow: 0px -5px 30px 0px rgba(0,0,0,0.5);
	box-shadow: 0px -5px 30px 0px rgba(0,0,0,0.5);

	@media (min-width: $breakpoint-tablet){
		display: none !important;
	}

	&-price{
		
		// font-family: $secondary-font;
		font-size: 18px;
		font-weight: 700;

		& span{
			display: block;
			font-family: $primary-font;
			font-size: 70%;
			font-weight: normal;
		}
	}
}
