body {
  background: #000;
  color: #fff; }

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.004);
  cursor: default;
  font-weight: 400;
  height: 100%;
  -webkit-overflow-scrolling: touch;
  /* lets it scroll lazy */
  position: relative;
  font-family: "Roboto", sans-serif;
  line-height: 1.3; }

a, a:active, a:focus, a:hover {
  outline: none;
  text-decoration: none; }

a, button {
  -webkit-transition: all .2s ease-out 0s;
  -moz-transition: all .2s ease-out 0s;
  -o-transition: all .2s ease-out 0s;
  transition: all .2s ease-out 0s; }

.info-labels li {
  display: inline-block;
  list-style-type: none;
  padding: 10px;
  border: 1px solid #000; }

.info-list-section {
  text-transform: uppercase;
  font-weight: 600;
  padding-top: 15px;
  font-size: 20px; }

.info-list {
  list-style-type: none; }
  .info-list-question {
    cursor: pointer;
    border-bottom: 1px solid #000;
    padding: 20px 0;
    line-height: 1;
    text-transform: uppercase;
    font-weight: 600;
    border-bottom: 1px solid rgba(255, 255, 255, 0.15); }
    .info-list-question.active {
      background-color: red; }
  .info-list-answer {
    display: none; }

.cover {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  width: 100%;
  height: 100%; }
  .cover .hi {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #fff;
    font-family: 'Roboto Slab', serif;
    font-size: 24px;
    line-height: 26px;
    text-align: center; }
    .cover .hi span {
      color: #ff0;
      cursor: pointer;
      text-decoration: underline; }
    .cover .hi em {
      font-style: normal; }
      .cover .hi em.hidden {
        display: none; }

.tv {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  overflow: hidden; }
  .tv .screen {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    margin: auto;
    opacity: 0;
    transition: opacity .5s; }
    .tv .screen.active {
      opacity: 1; }

@media (min-width: 1440px) {
  .container {
    max-width: 1400px; } }
.pre-footer {
  height: 30%;
  padding: 100px 0;
  position: relative;
  margin-top: 1000px; }
  .pre-footer .content {
    z-index: 5;
    position: relative; }
  .pre-footer .videowrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    overflow: hidden; }
    .pre-footer .videowrapper:before {
      content: "";
      background: rgba(0, 0, 0, 0.7);
      position: absolute;
      right: 0;
      top: 0;
      bottom: 0;
      left: 0;
      z-index: 10; }
  .pre-footer .videoplayer {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    z-index: 1;
    margin: auto;
    -ms-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    pointer-events: none; }

.footer {
  padding: 100px 0;
  text-align: center;
  background: #000;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.3); }
  .footer a {
    color: rgba(255, 255, 255, 0.3); }
    .footer a:hover {
      color: white; }

.footer-btn {
  border: 2px solid #fff;
  background: transparent;
  color: #fff;
  display: inline-block;
  margin: 0 10px;
  font-size: 16px;
  padding: 15px 40px;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  cursor: pointer;
  width: 300px;
  text-align: center;
  color: #fff !important; }
  .footer-btn:hover {
    color: #fff;
    background: #D8232A;
    border-color: #D8232A; }
  @media all and (max-width: 768px) {
    .footer-btn {
      margin: 0 auto 15px; } }

.footer-socialmedia {
  list-style-type: none;
  margin: 50px 0;
  padding: 0; }
  .footer-socialmedia li {
    display: inline-block;
    margin: 0 15px; }
    .footer-socialmedia li a {
      display: block;
      opacity: 0.3; }
      .footer-socialmedia li a:hover {
        opacity: 1; }
      .footer-socialmedia li a img {
        max-height: 18px; }

.footer-logos {
  list-style-type: none;
  margin: 0;
  padding: 0; }
  .footer-logos li {
    display: inline-block;
    margin: 0 30px;
    text-align: center;
    -webkit-transition: opacity .2s ease-out 0s;
    -moz-transition: opacity .2s ease-out 0s;
    -o-transition: opacity .2s ease-out 0s;
    transition: opacity .2s ease-out 0s; }
    .footer-logos li:hover {
      opacity: 1; }
    .footer-logos li img {
      display: block;
      max-height: 150px;
      max-width: 100%;
      margin: 0 auto; }
      @media all and (max-width: 768px) {
        .footer-logos li img {
          max-width: 60%; } }

.copyright {
  margin: 30px 0 40px; }
  @media all and (max-width: 768px) {
    .copyright {
      font-size: 12px; } }

.footer-links {
  border-top: 1px solid rgba(255, 255, 255, 0.3);
  display: inline-block;
  margin: 0 auto;
  padding: 40px 0 0; }
  .footer-links ul {
    list-style-type: none;
    margin: 0;
    padding: 0; }
    .footer-links ul li {
      display: inline-block;
      margin: 0 10px; }
      @media all and (max-width: 768px) {
        .footer-links ul li {
          display: block;
          margin-bottom: 10px; } }
      .footer-links ul li a {
        display: block; }

.cookies {
  width: 600px;
  padding: 30px;
  font-size: 14px;
  background: black;
  color: #fff;
  position: fixed;
  bottom: 30px;
  left: 50%;
  z-index: 100;
  -ms-transform: translate(-50%, 0);
  -webkit-transform: translate(-50%, 0);
  transform: translate(-50%, 0);
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
  -moz-box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3);
  box-shadow: 0px 0px 20px 0px rgba(255, 255, 255, 0.3); }
  @media all and (max-width: 768px) {
    .cookies {
      max-width: none;
      left: 15px;
      width: calc(100% - 30px);
      -ms-transform: translate(0%, 0);
      -webkit-transform: translate(0%, 0);
      transform: translate(0%, 0);
      padding: 15px;
      font-size: 13px; } }
  .cookies p {
    margin: 0; }
  .cookies a {
    color: #fff;
    text-decoration: underline; }
  .cookies .hide-cookies {
    float: right;
    background: none;
    cursor: pointer;
    border: none;
    display: inline-block;
    padding: 3px;
    margin: 0 0 0 15px; }
    .cookies .hide-cookies img {
      width: 30px;
      height: auto; }

/*# sourceMappingURL=styles.css.map */
