body, html{
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: auto;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
	cursor: default;
	font-weight: 400;
	height: 100%;
	-webkit-overflow-scrolling: touch; /* lets it scroll lazy */
	position: relative;
	font-family: $primary-font;
	line-height: 1.3;
}

.modal{
	color: #333;
}

a{
	color: $link-color;

	&:hover{
		color: $link-hover-color;
	}
}

a, a:active, a:focus, a:hover{
	outline: none;
	text-decoration: none;
}

a, button{
	-webkit-transition: all .2s ease-out 0s;
	-moz-transition: all .2s ease-out 0s;
	-o-transition: all .2s ease-out 0s;
	transition: all .2s ease-out 0s;
}

.hr{
	height: 1px;
	background: $product-border-color;
	border: none;
	margin-bottom: 20px;
}
// HEADINGS

.h1{
	font-family: $secondary-font;
	font-size: 36px;
	margin: 0 0 20px 0;

	@media (max-width: $breakpoint-mobile){
		font-size: 22px;
		margin-bottom: 10px;
	}
}
.h2{
	font-family: $tertiary-font;
	max-width: 80%;
	text-transform: uppercase;
	font-size: 30px;
	margin: 0 auto;
}
.h3{
	text-transform: uppercase;
	font-family: $secondary-font;
	font-size: 36px;
	margin: 0 0 20px 0;

	&-cart{
		font-size: 30px;
	}



	& small{
		font-family: $primary-font;
		display: block;
		text-transform: none;
		font-size: 20px;
		margin-bottom: 30px;
		margin-top: 10px;

		@media (max-width: $breakpoint-mobile){
			font-size: 16px;
		}

		& span{
			color: $color-2;
		}
	}

	@media (max-width: $breakpoint-mobile){
		font-size: 22px;
		margin-bottom: 10px;
	}

	&-small{
		font-size: 20px;
		font-family: $primary-font;
		font-weight: 400;
		text-transform: none;

		@media (max-width: $breakpoint-mobile){
			font-size: 18px;
			margin-bottom: 10px;
		}
	}
}
.product-h3{
	text-transform: uppercase;
	font-family: $secondary-font;
	font-size: 26px;
}
.h4{
	text-transform: uppercase;
	font-family: $secondary-font;
	font-size: 18px;
}

.h5{
	font-size: 20px;
}

.subheader{
	font-size: 24px;
	font-family: $tertiary-font;
	margin: 0 auto 40px auto;
	max-width: 80%;
	line-height: 1.2;

	@media (max-width: $breakpoint-mobile){
		font-size: 20px;
		max-width: 90%;
		margin-bottom: 20px;
	}
}

.page ul{
	padding: 0;
	list-style-position: inside;
}

.page{
	font-size: 15px;
	line-height: 1.5;
}

.intro{
	font-size: 22px;
	font-family: $tertiary-font;
	margin: 0 0 30px 0;

	@media (max-width: $breakpoint-mobile){
		font-size: 18px;
	}
}

// SPINNER

.spinner {
	width: 70px;
	text-align: center;
	position: fixed;
	top: 50%;
	left: 50%;
	z-index: 900;
	-ms-transform: translate(-50%, -50%);
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}

.spinner > div {
	width: 18px;
	height: 18px;
	background-color: #fff;

	border-radius: 100%;
	display: inline-block;
	-webkit-animation: sk-bouncedelay 1.4s infinite ease-in-out both;
	animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}

.spinner .bounce1 {
	-webkit-animation-delay: -0.32s;
	animation-delay: -0.32s;
}

.spinner .bounce2 {
	-webkit-animation-delay: -0.16s;
	animation-delay: -0.16s;
}

@-webkit-keyframes sk-bouncedelay {
	0%, 80%, 100% { -webkit-transform: scale(0) }
	40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
	0%, 80%, 100% { 
		-webkit-transform: scale(0);
		transform: scale(0);
		} 40% { 
			-webkit-transform: scale(1.0);
			transform: scale(1.0);
		}
	}