
// BREAKPOINTS
$breakpoint-desktop: 1199px;
$breakpoint-tablet: 991px;
$breakpoint-mobile: 767px;



$bg-color: #000;
$text-color: #fff;
$font: 'Roboto', sans-serif;
$border-color: rgba(255,255,255,.15)
